<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/auth/winia_header.css">
    <link rel="stylesheet" href="/static/css/auth/winia_footer.css">
    <link rel="stylesheet" href="/static/css/auth/forget_user_account.css">
    <link rel="stylesheet" href="/static/css/auth/phone_authentication.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>위니아</title>
</head>
<body>
    <th:block th:replace="/auth/winia_header"></th:block>
    <main>
        <div id="container">
            <div class="main-content">
                <div class="title">
                    <h1>ID찾기 / 비밀번호 재설정</h1>
                </div>
                <div class="find-account-input-div">
                    <input type="radio" id="find-id" name="find-account-option">
                    <label for="find-id">아이디 찾기</label>
                    <input type="radio" id="password-reset" class="password-radio" name="find-account-option">
                    <label for="password-reset">비밀번호 재설정</label>
                </div>
                <div class="password-reset-select visible">
                    <table>
                        <tbody>
                            <tr>
                                <th>통합멤버 아이디</th>
                                <td><input type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <th:block th:replace="/auth/phone_authentication"></th:block>
                <div class="main-content-notice">
                    <div class="notice-div">
                        <p class="notice">인증 방법 안내</p>
                        <ul>
                            <li>본인인증 : 고객님 명의의 휴대폰을 통해 본인임을 확인 합니다.</li>
                        </ul>
                    </div>
                    <div class="email-notice-div visible">
                        <ul>
                            <li>기타 문의사항은 고객센터로 연락 바랍니다. (1588-9588)</li>
                        </ul>
                    </div>
                </div>
                <div class="button-div visible">
                    <button type="button">메인으로 이동</button>
                    <button type="button">로그인</button>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="/auth/winia_footer"></th:block>
    <script src="/static/js/auth/winia_header.js"></script>
    <script src="/static/js/auth/phone_authentication.js"></script>
    <script src="/static/js/auth/forget_user_account.js"></script>
</body>
</html>