<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/join.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/winia_header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/winia_footer.css">
    <title>회원가입 정보입력</title>
<body>
    <div id="wrap">
        <header id="header">
            <div class="inner">
                <h1><a>
                    <img src="https://member.winiadimchae.com/images/h1_logo.jpg">
                </a></h1>
                <div class="util">
                    <ul>
                        <li>
                            <a href="">로그인</a>
                            <ul class="util-layer" style="display:none;">
                                <li><a href="">로그인</a></li>
                                <li><a href="">아이디 찾기</a></li>
                                <li><a href="">비밀번호 찾기</a></li>
                            </ul>
                        </li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div class="gnb" id="gnb">
                <ul class="mn-ul">
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb01_off.png"></a>
                        <ul class="sub-ul sub01">
                            <li class="sub-mn"><a href="">통합회원안내</a></li>
                            <li class="sub-mn"><a href="">적립금 안내</a></li>
                            <li class="sub-mn"><a href="">제품등록 안내</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb02_off.png"></a>
                        <ul class="sub-ul sub02">
                            <li class="sub-mn"><a href="">통합회원가입</a></li>
                            <li class="sub-mn"><a href="">추가 가입</a></li>
                            <li class="sub-mn"><a href="">통합회원 탈퇴</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb03_off.png"></a>
                        <ul class="sub-ul sub03">
                            <li class="sub-mn"><a href="">회원정보 수정</a></li>
                            <li class="sub-mn"><a href="">적립금 조회</a></li>
                            <li class="sub-mn"><a href="">제품등록</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="inner"></div>
                <div class="sub-wrap"></div>
            </div>
        </header>
        <main id="main">
            <div class="main-inner">
                <form>
                    <h2>추가가입</h2>
                    <div class="complete">
                        <p>
                            <span>username(id)</span>님  <strong>위니아 브랜드 사이트</strong>
                            가입을 감사드립니다. <br>
                            소중한 고객님들을 위해 언제나 최선을 다하는 위니아가 되겠습니다.
                        </p>
                         </div>
                    <div class="button-center">
                        <a href="/templates/main_page.html" class="button blue">메인으로 이동</a>
                    </div>
                </form>
            </div>
        </main>
                
        <footer id="footer">
            <div class="inner">
                <div class="footer-logo">
                    <img src="https://member.winiadimchae.com/images/f_logo.jpg">
                </div>
                <div class="footer-menu">
                    <ul class="link">
                        <li><a href="">내부관리규정</a></li>
                        <li><a href="">개인정보취급방침</a></li>
                        <li><a href="">서비스약관</a></li>
                        <li><a href="">이메일주소 무단 수집거부</a></li>
                        <li><a href="">MAIL TO WEBMASTER</a></li>     
                    </ul>
                    <div class="copyright">
                        <p>본사: 광주광역시 광산구 하남산단9번로 110(안청동), 대표이사: 최찬수, 사업자등록번호: 312-81-38164</p>
                        <p>Copyright WINIA Co.,LTD. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="family-site">
                    <select style="width: 188px;" target = "_blank">
                        <option value>FAMILY SITE</option>
                        <option value="https://www.winiadimchae.com">위니아 브랜드 사이트</option>
                        <option value="https://www.winia-eshop.com">위니아e샵</option>
                        <option value="https://www.winiaaid.com">위니아에이드(고객 서비스)</option>
                    </select>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/util/remove_non_member_service_authentication.js"></script>
    <script src="/static/js/util/remove_non_member_board_authentication.js"></script>
    <script src="/static/js/auth/signup_step2.js"></script>
</head>
</body>
</html>