<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 정보입력</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/auth/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup-header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup-footer.css">
    
<body>
    <div id="wrap">
        <header id="header">
            <div class="inner">
                <h1><a>
                    <img src="https://member.winiadimchae.com/images/h1_logo.jpg">
                </a></h1>
                <div class="util">
                    <ul>
                        <li>
                            <a href="">로그인</a>
                            <ul class="util-layer" style="display:none;">
                                <li><a href="">로그인</a></li>
                                <li><a href="">아이디 찾기</a></li>
                                <li><a href="">비밀번호 찾기</a></li>
                            </ul>
                        </li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div class="gnb" id="gnb">
                <ul class="mn-ul">
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb01_off.png"></a>
                        <ul class="sub-ul sub01">
                            <li class="sub-mn"><a href="">통합회원안내</a></li>
                            <li class="sub-mn"><a href="">적립금 안내</a></li>
                            <li class="sub-mn"><a href="">제품등록 안내</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb02_off.png"></a>
                        <ul class="sub-ul sub02">
                            <li class="sub-mn"><a href="">통합회원가입</a></li>
                            <li class="sub-mn"><a href="">추가 가입</a></li>
                            <li class="sub-mn"><a href="">통합회원 탈퇴</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb03_off.png"></a>
                        <ul class="sub-ul sub03">
                            <li class="sub-mn"><a href="">회원정보 수정</a></li>
                            <li class="sub-mn"><a href="">적립금 조회</a></li>
                            <li class="sub-mn"><a href="">제품등록</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="inner"></div>
                <div class="sub-wrap"></div>
            </div>
        </header>
        <main id="main">
            <div class="main-inner">
                <form id="form-main" onsubmit="submitJoinForm(this); return false;" action="/dojoin" method="POST">
                    <h2>통합회원 가입</h2>
                    <p class="img-wrap">
                        <img src="https://member.winiadimchae.com/images/img_join_step3.gif">
                    </p>
                    <p class="title">회원정보입력</p>
                    <p class="guide">고객님의 회원정보를 정확히 입력해 주시기 바랍니다. <span><strong>*</strong> 는 필수입력 항목입니다.</span></p>
                    <div class="table-write">
                        <table summary="이 표는 회원정보입력 테이블입니다.">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <span class="essential">이름</span>
                                </th>
                                <td><input name="name" id="name" style="width: 138px;  height: 28px;" class="name"></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">성별</span>
                                </th>
                                <td><input type="radio" name="gender_mail" value="1">
                                	<label for="gender_mail">남자</label>
                                    <input type="radio" name="gender_femail" value="0">
                                    <label for="gender_femail">여자</label>
                                    </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">생년월일</span>
                                </th>
                                <td>
                                    <div class="birth">
                                        <input type="text" name="birthday1" id="birthday1" style="width: 60px;  height: 28px; background: #f5f5f5;" maxlength="4" value="">
                                        <label for="year">년</label>
                                        <input type="text" name="birthday2" id="birthday2" style="width: 50px;  height: 28px; background: #f5f5f5;" maxlength="2" value="">
                                        <label for="month">월</label>
                                        <input type="text" name="birthday3" id="birthday3" style="width: 50px; height: 28px;  background: #f5f5f5;" maxlength="2" value="">
                                        <label for="day">일</label>
                                        <input type="radio" name="birthdaytype" id="yM" value="0">
                                        <label for="birth01">양력</label>
                                        <input type="radio" name="birthdaytype" id="eM" value="1">
                                        <label for="birth02">음력</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential"><label for="username">아이디</label></span>
                                </th>
                                <td>
                                    <input type="text" name="username" id="username" style="width: 138px;" height="28px;" maxlength="10">
                                    <a href="" target="_blank" onclick="" class="button light">중복확인</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">비밀번호</span>
                                </th>
                                <td>
                                    <input type="password" name="password" id="password" style="width: 138px;" maxlength="10" aria-autocomplete="list" class="password">
                                    <span class="password-guide">
                                        ※영문+숫자+특수문자의 8~10자 이내
                                        </span>
                                        <span class="password-guide error">※ 패스워드에 사용 가능한 특수문자</span>
                                        : ! @ # $ % ^ + =
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">비밀번호 확인</span>
                                </th>
                                <td>
                                    <input type="password" name="passwd_confirm" id="password_confirm" style="width: 138px;" maxlength="10">
                                    
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">주소</span>
                                </th>
                                <td>
                                    <div class="address">
                                        <input type="text" name="zipcode1" id="hAddr1" style="width: 100px;" value="" readonly="readonly">
                                        <a href="/address/main" target="_blank" onclick="window.open('/address/main', 'zipcode', 'width=700,height=745,top=200,left=200,staus=no'); false;" class="button light">우편번호 찾기</a>
                                        <p>
                                            <input type="text" name="address1" id="address1" style="width: 356px;" value="" title="주소" readonly="readonly">
                                            <input type="text" name="address2" id="address2" style="width: 354px;" value="" title="나머지주소">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">휴대전화</span>
                                </th>
                                <td>
                                    <div class="call">
                                        <select name="mobile1" id="hp1" style="width: 80px; height: 28px;" title="휴대전화 앞자리 번호" class="selectBox">
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                        <em>-</em>
                                        <input type="text" name="mobile2" id="hp2" value="" style="width: 58px;" maxlength="4" title="휴대전화 중간자리 번호">
                                        <em>-</em>
                                        <input type="text" name="mobile3" id="hp3" value="" style="width: 58px;" maxlength="4" title="휴대전화 뒷자리 번호">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="essential">이메일</span>
                                </th>
                                <td>
                                    <div class="email">
                                        <!--<select name="email3" id="email3" style="width: 150px; display: none;" onchange="fnChangeEmail(this);" title="이메일 주소 선택" class="selectBox">
                                            <option value="">직접입력</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="daum.net">daum.net</option>
                                            <option value="nate.com">nate.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="yahoo.co.kr">yahoo.com</option>
                                            <option value="empas.com">empas.com</option>
                                            <option value="hotmail.com">hotmail.com</option>
                                            <option value="korea.com">korea.com</option>
                                            <option value="dreamwiz.com">dreamwiz.com</option>
                                            <option value="lycos.co.kr">lycos.co.kr</option>
                                        </select> 
                                        <a class="selectBox selectBox-dropdown" title="이메일 주소 선택" tabindex="NaN" style="width: 150px; display: inline-block;">
                                            <span class="selectBox-label" style="width: 107px;">직접입력</span>
                                            <span class="selectBox-arrow"></span></a>
                                        <input type="text" name="email" id="email1" value="" style="width: 108px;" title="이메일 계정" onchange="fnCheckEmail();">
                                        <em>@</em>-->
                                        <input type="text" name="email" id="email" style="width: 250px;">
                                        <p class="email-guide" style="margin-top:5px; color:#3652a2;">※ 이메일이 정확하지 않으면 제품 문의에 대한 답변 및 모든 이메일 정보를 받으실 수 없습니다.</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="">수신동의</span>
                                </th>
                                <td>
                                    <ul>
                                        <li>
                                            <strong>메일 수신</strong>
                                            <input type="checkbox" name="emailynWINIA" id="emailynWINIA" value="Y">
                                            <label for="dm3">위니아 브랜드사이트</label>
                                        </li>
                                        <li>
                                            <strong>메일 수신</strong>
                                            <input type="checkbox" name="smsynWINIA" id="smsynWINIA" value="Y">
                                            <label for="dm3">위니아 브랜드사이트</label>
                                        </li>
                                        <li>
                                            <strong>우편물 수신</strong>
                                            <input type="checkbox" name="mailynWINIA" id="mailynWINIA" value="Y">
                                            <label for="dm3">위니아 브랜드사이트</label>
                                        </li>
                                    </ul>
                                    <p class="email-guide">※ 이메일, SMS, 우편물 수신에 동의하시면 제품 문의에 대한 답변 및 위니아에서 제공하는 다양한 혜택을 알려드리는 뉴스레터, 이벤트 정보를 받아보실 수 있습니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="">그룹사명</span>
                                </th>
                                <td><select name="staffCompany" id="staffCompany" style="width: 300px;" title="그룹사명 선택">
                                    <option value="" selected="selected">선택</option>
                                    <option value="위니아">위니아</option>
                                    <option value="위니아전자">위니아전자</option>
                                    <option value="위니아전자매뉴팩처링">위니아전자매뉴팩처링</option>
                                    <option value="위니아에이드">위니아에이드</option>
                                    <option value="대유플러스">대유플러스</option>
                                    <option value="대유에이텍">대유에이텍</option>
                                    <option value="대유글로벌">대유글로벌</option>
                                    <option value="대유에이피">대유에이피</option>
                                    <option value="대유홀딩스">대유홀딩스</option>
                                    <option value="대유금형">대유금형</option>
                                    <option value="대유합금">대유합금</option>
                                    <option value="동강홀딩스">동강홀딩스</option>
                                    <option value="대유몽베르컨트리클럽">대유몽베르컨트리클럽</option>
                                    <option value="푸른산수목원">푸른산수목원</option>
                                    <option value="대유이피">대유이피</option>
                                </select>
                                <span class="group-guide">※ 위니아 임직원인 경우 입력해 주시기 바랍니다.</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="button-center">
                        <button type="submit" class="button blue">등록</button>
                    </div>
                </form>
            </div>
        </main>
        <footer id="footer">
            <div class="inner">
                <div class="footer-logo">
                    <img src="https://member.winiadimchae.com/images/f_logo.jpg">
                </div>
                <div class="footer-menu">
                    <ul class="link">
                        <li><a href="">내부관리규정</a></li>
                        <li><a href="">개인정보취급방침</a></li>
                        <li><a href="">서비스약관</a></li>
                        <li><a href="">이메일주소 무단 수집거부</a></li>
                        <li><a href="">MAIL TO WEBMASTER</a></li>     
                    </ul>
                    <div class="copyright">
                        <p>본사: 광주광역시 광산구 하남산단9번로 110(안청동), 대표이사: 최찬수, 사업자등록번호: 312-81-38164</p>
                        <p>Copyright WINIA Co.,LTD. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="family-site">
                    <select style="width: 188px;" target = "_blank">
                        <option value>FAMILY SITE</option>
                        <option value="https://www.winiadimchae.com">위니아 브랜드 사이트</option>
                        <option value="https://www.winia-eshop.com">위니아e샵</option>
                        <option value="https://www.winiaaid.com">위니아에이드(고객 서비스)</option>
                    </select>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/auth/signup.js"></script>
    <script src="/static/js/auth/common.js"></script>
</head>
</body>
</html>