<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 정보입력</title>
    <link rel="stylesheet" type="text/css" href="/static/css/auth/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup-header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup-footer.css">
    
<body>
        <header id="header">
            <div class="inner">
                <h1><a>
                    <img src="https://member.winiadimchae.com/images/h1_logo.jpg">
                </a></h1>
                <div class="util">
                    <ul class="util-ul">
                        <li class="util-li">
                            <a href="">로그인</a>
                            <ul class="util-layer" style="display:none;">
                                <li><a href="">로그인</a></li>
                                <li><a href="">아이디 찾기</a></li>
                                <li><a href="">비밀번호 찾기</a></li>
                            </ul>
                        </li>
                        <li class="util-li"><a href="">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div class="gnb" id="gnb">
                <ul class="mn-ul">
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb01_off.png"></a>
                        <ul class="sub-ul sub01">
                            <li class="sub-mn"><a href="">통합회원안내</a></li>
                            <li class="sub-mn"><a href="">적립금 안내</a></li>
                            <li class="sub-mn"><a href="">제품등록 안내</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb02_off.png"></a>
                        <ul class="sub-ul sub02">
                            <li class="sub-mn"><a href="">통합회원가입</a></li>
                            <li class="sub-mn"><a href="">추가 가입</a></li>
                            <li class="sub-mn"><a href="">통합회원 탈퇴</a></li>
                        </ul>
                    </li>
                    <li class="main-mn">
                        <a href=""><img src="https://member.winiadimchae.com/images/gnb03_off.png"></a>
                        <ul class="sub-ul sub03">
                            <li class="sub-mn"><a href="">회원정보 수정</a></li>
                            <li class="sub-mn"><a href="">적립금 조회</a></li>
                            <li class="sub-mn"><a href="">제품등록</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="inner"></div>
                <div class="sub-wrap"></div>
            </div>
        </header>
</head>
<script src="/static/js/auth/signup_header.js"></script>
</body>

</html>