<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/signup.css">
</head>
<body>
    <div id="wrap">
        <header id="top-header"></header>
        <main id="main-contents"> 
            <div class="main-header"></div>
            <div class="main-login-box">
                <div class="sub-title">
                    <h1>로그인</h1>
                </div>
                <div class="comment-login">
                    <p class="comment-login-title"><span>(주)위니아에이드에</span>오신것을 환영합니다.</p>
                    <p class="comment-login-subtitle">위니아 통합회원으로 가입하시면 동일한 아이디 비밀번호로 모든 위니아 사이트 서비스를 이용하실 수 있습니다.</p>
                </div>
                <div class="login-box">
                    <div class="user-area-inner">
                        <form id="loginForm" name="loginForm">
                            <label for="username" class="input-user">
                                <input type="text" id="username" name="user-id" placeholder="아이디를 입력하세요">
                            </label>
                            <label for="password" class="input-user">
                                <input type="text" id="username" name="user-pwd" placeholder="비밀번호를 입력하세요" maxlength="10">
                            </label>
                            <button type="button" id="button-login" class="button-login">로그인</button>
                            <p class="save-id">
                                <input type="checkbox" id="save-id">
                                <label for="save-id">아이디 저장</label>
                            </p>
                            <div class="find-user">
                                <p>아이디나 비밀번호를 잊으셨나요?</p>
                                <div class="bin-area">
                                    <a class="find-button">아이디찾기</a>
                                    <a class="find-button">비밀번호 찾기</a>
                                </div>
                                <p>패스워드 변경 및 개인정보 수정은
                                    <span>여기</span>를 눌러주세요.
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="enjoy">
                        <div class="enjoy-inner">   
                            <div class="user-iamge-box">
                                <img src="https://www.winiaaid.com/assets/images/common/icon_human.png">
                            </div>  
                            <p>
                                <strong>아직 위니아 회원이 아니신가요?</strong><br>
                                <span>회원이 되시면 다양한 서비스 이용이 가능합니다.</span>
                            </p>
        
                            <div class="button-area">
                                <a>통합회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>