<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header">
        <div class="inner">
            <h1><a>
                <img class="main-logo" src="https://member.winiadimchae.com/images/h1_logo.jpg">
            </a></h1>
            <div class="util">
                <ul class="non-member-ul">
                    <li>
                        <span>로그인</span>
                        <ul class="util-layer visible">
                            <li class="signin-li">로그인</li>
                            <li class="forget-user-id-li">아이디 찾기</li>
                            <li class="forget-user-password-li">비밀번호 찾기</li>
                        </ul>
                    </li>
                    <li class="signup-li">회원가입</li>
                </ul>
                <span class="logout-span visible">로그아웃</span>
            </div>
        </div>
        <div class="gnb" id="gnb">
            <ul class="mn-ul">
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb01_off.png"></a>
                    <ul class="sub-ul sub01">
                        <li class="sub-mn">통합회원안내</li>
                        <li class="sub-mn">적립금 안내</li>
                        <li class="sub-mn">제품등록 안내</li>
                    </ul>
                </li>
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb02_off.png"></a>
                    <ul class="sub-ul sub02">
                        <li class="sub-mn">통합회원가입</li>
                        <li class="sub-mn">추가 가입</li>
                        <li class="sub-mn withdrawal">통합회원 탈퇴</li>
                    </ul>
                </li>
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb03_off.png"></a>
                    <ul class="sub-ul sub03">
                        <li class="sub-mn">회원정보 수정</li>
                        <li class="sub-mn">적립금 조회</li>
                        <li class="sub-mn">제품등록</li>
                    </ul>
                </li>
            </ul>
            <div class="inner"></div>
            <div class="sub-wrap"></div>
        </div>
    </header>
</body>
</html>