<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header">
        <div class="inner">
            <h1><a>
                <img src="https://member.winiadimchae.com/images/h1_logo.jpg">
            </a></h1>
            <div class="util">
                <ul>
                    <li>
                        <a href="">로그인</a>
                        <ul class="util-layer" style="display:none;">
                            <li><a href="">로그인</a></li>
                            <li><a href="">아이디 찾기</a></li>
                            <li><a href="">비밀번호 찾기</a></li>
                        </ul>
                    </li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div>
        </div>
        <div class="gnb" id="gnb">
            <ul class="mn-ul">
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb01_off.png"></a>
                    <ul class="sub-ul sub01">
                        <li class="sub-mn"><a href="">통합회원안내</a></li>
                        <li class="sub-mn"><a href="">적립금 안내</a></li>
                        <li class="sub-mn"><a href="">제품등록 안내</a></li>
                    </ul>
                </li>
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb02_off.png"></a>
                    <ul class="sub-ul sub02">
                        <li class="sub-mn"><a href="">통합회원가입</a></li>
                        <li class="sub-mn"><a href="">추가 가입</a></li>
                        <li class="sub-mn"><a href="">통합회원 탈퇴</a></li>
                    </ul>
                </li>
                <li class="main-mn">
                    <a href=""><img src="https://member.winiadimchae.com/images/gnb03_off.png"></a>
                    <ul class="sub-ul sub03">
                        <li class="sub-mn"><a href="">회원정보 수정</a></li>
                        <li class="sub-mn"><a href="">적립금 조회</a></li>
                        <li class="sub-mn"><a href="">제품등록</a></li>
                    </ul>
                </li>
            </ul>
            <div class="inner"></div>
            <div class="sub-wrap"></div>
        </div>
    </header>
</body>
</html>