<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/withdrawal_login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/winia_header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/winia_footer.css">
    <title>회원가입 정보입력</title>
<body>
    <div id="wrap">
        <th:block th:replace="/auth/winia_header"></th:block>
        <main id="main">
            <div class="main-inner">
                <form name="FORM-MAIN" id="FORM-MAMIN" action="" method="">
                    <h2>
                        로그인<br>
                        <span>
                            <strong>주(위니아)</strong>
                            에 오신것을 환영합니다.
                        </span>
                    </h2>>
                    <div class="login_section">
                        <ul>
                            <li>
                                <input type="text" name="login_id" id="userId" placeholder="ID를 입력해 주세요">
                            </li>
                            <li>
                                <input type="password" name="passwd" id="userPw" placeholder="비밀번호를 입력해 주세요">
                            </li>
                        </ul>
                        <a href="/withdrawal" class="button blue">로그인</a>
                    </div>
                    <ul class="attention">
                        <li>
                            ID 또는 비밀번호가 기억나지 않으세요?
                            <a href="" class="button line">ID 찾기</a>
                            <a href="" class="button line">비밀번호 재설정</a>
                        </li>
                    </ul>
                </form>
            </div>
        </main>
        <th:block th:replace="/auth/winia_footer"></th:block>
    </div>
    <script src="/static/js/auth/winia_header.js"></script>
    <script src="/static/js/util/remove_non_member_service_authentication.js"></script>
    <script src="/static/js/util/remove_non_member_board_authentication.js"></script>
    <script src="/static/js/auth/signup.js"></script>
</head>
</body>
</html>