<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/manager/manager_main_style.css">
    <link rel="stylesheet" href="/static/css/manager/manager_header.css">
    <link rel="stylesheet" href="/static/css/manager/manager_product.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>[관리자 페이지] 메인</title>
</head>
<body>
    <header>
        <div class="title-div">
            <h1>관리자 페이지</h1>
        </div>
        <nav>
            <ul class="main-nav-ul">
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">간편해결</span>
                    <ul class="sub-nav-ul visible">
                        <li>질문유형 관리</li>
                        <li>문제해결 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">서비스 신청</span>
                    <ul class="sub-nav-ul visible">
                        <li>서비스 신청 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">제품관리</span>
                    <ul class="sub-nav-ul visible">
                        <li>제품등록</li>
                        <li>제품조회</li>
                        <li>제품수정</li>
                        <li>제품삭제</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">고객의 소리</span>
                    <ul class="sub-nav-ul visible">
                        <li>게시글 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">회원</span>
                    <ul class="sub-nav-ul visible">
                        <li>회원 관리</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="menu-place visible">

        </div>
    </header>
    <main>
        <div id="container">
            <div class="main-content">
                <div class="main-company-div">
                    
                </div>
                <div class="product-box">
                    <div class="main-category-div">
                        
                    </div>
                    <div class="main-group-div">
                        
                        
                    </div>
                    <div class="main-product-div">
                        <span class="sortation-span">제품</span>
                        <ul class="main-product-ul product-ul">
                            <li class="main-product-li">
                                <span class="product-detail-span fa-solid fa-cube"> 디테일1</span>
                            </li>
                            <li class="main-product-li">
                                <span class="product-detail-span fa-solid fa-cube"> 디테일2</span>
                            </li>
                            <li class="main-product-li">
                                <span class="product-detail-span fa-solid fa-cube"> 디테일3</span>
                            </li>
                            <li class="main-product-li">
                                <span class="product-detail-span product-detail-add-span fa-solid fa-plus"> 추가</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-detail-add-div">
                    <input class="product-detail-name" type="text" placeholder="제품 상세 이름">
                    <form class="image-form">
                        <label for="product-detail-image">이미지 선택</label>
                        <input type="file" id="product-detail-image" class="product-detail-image-input visible" name="file">
                        <div class="show-image-div">

                        </div>
                    </form>
                    <button class="product-detail-add-button" type="button">제품 추가</button>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="/static/js/manager/manager_header.js"></script>
    <script src="/static/js/manager/manager_product.js"></script>
</body>
</html>