<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/service/model_name_popup.css">
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>[위니아에이드] 모델명 확인방법</title>
</head>
<body>
    <header>
        <div class="title-div">
            <h1>제품 모델명 확인방법</h1>
            <div>
                <i class="fa-solid fa-x cancel-image"></i>
            </div>
        </div>
    </header>
    <main>
        <div id="container">
            <div class="main-content">
                <ul class="product-category-ul">
                    <li class="product-category">
                        <span>김치냉장고</span>
                    </li>
                    <li class="product-category">
                        <span>냉장고</span>
                    </li>
                    <li class="product-category">
                        <span>전기주전자</span>
                    </li>
                    <li class="product-category">
                        <span>전기레인지</span>
                    </li>
                    <li class="product-category">
                        <span>뉴트리불렛</span>
                    </li>
                    <li class="product-category">
                        <span>전기밥솥</span>
                    </li>
                    <li class="product-category">
                        <span>에어컨</span>
                    </li>
                    <li class="product-category">
                        <span>에어워셔</span>
                    </li>
                    <li class="product-category">
                        <span>스포워셔</span>
                    </li>
                    <li class="product-category">
                        <span>제습기</span>
                    </li>
                    <li class="product-category">
                        <span>TV</span>
                    </li>
                    <li class="product-category">
                        <span>정수기</span>
                    </li>
                    <li class="product-category">
                        <span>멀티드라이어</span>
                    </li>
                </ul>
                <div class="model-number-check-explaination-div">
                    <div class="product-category-name">
                        <span>김치냉장고</span>
                    </div>
                    <span class="notice-span">사용하시는 제품의 모델명과 제조번호를 확인해주세요.</span>
                    <div class="product-category-info">
                        <textarea>모델명스티커 모델명 또는 형명란에 표기되어 있습니다.
제조번호스티커 바코드하단에 영문(WD) 2자리+숫자13자리로 표기되어 있습니다.</textarea>
                    </div>
                    <div class="product-category-image">
                        <div></div>
                        <div></div>
                    </div>
                    <div class="product-number-location-info">
                        <p class="important-p">제품 뚜껑형제품 우측상단, 스탠드형제품 좌측상단에 스티커가 부착되어 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/service/model_name_check_popup.js"></script>
    <script src="/static/js/service/model_name_popup.js"></script>
</body>
</html>