<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/util/location_notice.css">
    <link rel="stylesheet" href="/static/css/fragments/company_show.css">
    <link rel="stylesheet" href="/static/css/fragments/product_show.css">
    <link rel="stylesheet" href="/static/css/fragments/main_visit_service.css">
    <link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>[위니아에이드] 방문서비스_신청하기</title>
</head>
<body>
	<th:block th:replace="/fragments/header"></th:block>
	<th:block th:replace="/fragments/main_visit_service"></th:block>
    <th:block th:replace="/fragments/footer"></th:block>
    <script src="/static/js/util/remove_non_member_authentication.js"></script>
    <script src="/static/js/util/principal.js"></script>
    <script src="/static/js/fragments/header.js"></script>
    <script src="/static/js/fragments/footer.js"></script>
    <script src="/static/js/util/location_notice.js"></script>
    <script src="/static/js/fragments/company_show.js"></script>
    <script src="/static/js/fragments/product_show.js"></script>
    <script src="/static/js/util/check_byte.js"></script>
    <script src="/static/js/popup/popup.js"></script>
    <script src="/static/js/fragments/main_visit_service.js"></script>
</body>
</html>