<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/service/visitInquiry.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>[위니아에이드] 방문서비스_조회 취소</title>
</head>
<body>
    <main>
        <div id="container">
            <div class="location-div">

            </div>
            <div class="main-content">
                <div class="main-title">
                    <h1>방문서비스 조회/변경/취소</h1>
                </div>
                <div class="service-explaination">
                    <span>방문서비스 예약 신청 현황입니다.</span>
                </div>
                <div class="call-visit-div">
                    <div class="call-visit-detail detail-before">
                        <p>서비스 신청의 회원/비회원 조회는 홈페이지를 통해서 접수하신 건만 조회 가능합니다.</p>
                        <p>콜센터(1588-9588/1588-1588)를 통해서 접수하신 방문 서비스 취소/변경은 <span class="notice-span">콜센터 접수 건 바로가기</span> 버튼을 눌러주세요.</p>
                    </div>
                    <button class="call-visit-button" type="button">콜센터 접수 건 바로가기</button>
                </div>
                <div class="total-request-count-div">
                    <span>전체 <span class="request-count">0</span>건</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>신청 대상 브랜드</th>
                            <th>접수번호</th>
                            <th>서비스구분</th>
                            <th>제품명</th>
                            <th>접수일</th>
                            <th>진행상태</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7">서비스 신청 내역이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="service-explaination-detail detail-before">
                    <p>비회원일 경우 진행사항 확인 시 <span class="notice-span">서비스 받으실 고객명과 접수번호</span>가 필요합니다.</p>
                </div>
                <div class="page-div">
                    <button type="button">1</button>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/service/visitInquiry.js"></script>
</body>
</html>