/* location */
.location{
    width: 1400px;
    margin: 0 auto 25px;
    padding-top: 25px;
}

.location ul::after{
    display: block;
    clear: both;
    content: '';
}

.location ul li{
    float: left;
    font-size: 13px;
    color: #252525;
    padding-left: 15px;
    margin-left: 15px;
    position: relative;
}

.location ul li.home{
    padding-left: 0;
    margin-left: 0;
}

.location ul li.home a{
    display: block;
    margin-top: 1px;
}

.location ul li:not(li.home)::before{
    width: 6px;
    height: 10px;
    content: '';
    background: url(/static/images/arrow_location.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 4px;
}

/* contents */
#contents{
    width: 980px;
    margin: 0 auto 100px;
}

.title{
    font-size: 28px;
    font-weight: 400;
    color: #252525;
    margin-bottom: 35px;
}

.info-text{
    padding: 30px;
    margin-bottom: 50px;
}

.info-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #252525;
    margin-bottom: 20px;
}

#contents h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #252525;
    margin-bottom: 15px;
}

table{
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}

table tr:not(:last-of-type){
    border-bottom: 1px solid #d9d9d9;
}

table th, table td{
    text-align: left;
    padding: 20px 10px 20px 20px;
}

table th{
    color: #252525;
    font-weight: 500;
}

table td{
    color: #5b5a5a;
    font-weight: 400;
}

.service-reservation-detail{
    margin-bottom: 50px;
}

.service-reservation-detail .service-type{
    color: #0a71cc;
}

.service-reservation-detail .progress-status{
    color: #0a71cc;
}

.service-reservation-detail .cancel{
    width: 78px;
    height: 31px;
    border: 1px solid #e20000;
    font-weight: 400;
    color: #e20000;
    line-height: 29px;
    background-color: transparent;
}

.complete-button {
    margin-right: 5px;

    width: 78px;
    height: 31px;
    border: 1px solid #0a71cc;

    font-weight: 400;
    color: #0a71cc;

    line-height: 29px;
    background-color: transparent;
}

.client-information{
    margin-bottom: 50px;
}

.list-button{
    display: block;
    margin: 0 auto;
    width: 122px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    background-color: #5b5a5a;
}