#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 980px;
}

.title-div {
    margin-bottom: 35px;
}

.title-div h1 {
    font-size: 28px;
    font-weight: 400;
    color: #252525;
}

.notice-p-div {
    margin-bottom: 50px;
    padding: 30px;

    background-color: #fcfcfc;
}

.notice-p-div p {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    margin-bottom: 10px;
    
    font-size: 18px;
    font-weight: 400;
}

table {
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;

    width: 100%;
}

table tr:not(table tr:first-child) {
    border-top: 1px solid #d9d9d9;
}

table th {
    padding: 18px 0 18px 24px;

    width: 127px;
    
    font-weight: 400;
}

table td {
    padding-right: 24px;
    padding-left: 24px;
}

.emphasis-td {
    color: #0a71cc;
}

.service-cancel {
    color: red;
}

.service-receive {
    color: #0a71cc;
}

.service-complete {
    color: #777777;
}

.reservation-modify-button-div button {
    width: 90px;
    height: 35px;

    background-color: #fff;
    font-weight: 400;
}

.reservation-modify-button-div button:first-child {
    border: 1px solid #0a71cc;
    color: #0a71cc;
}

.reservation-modify-button-div button:last-child {
    border: 1px solid red;
    color: red;
}

.user-info-table-div {
    margin-top: 50px;
}

.go-list-button-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.go-list-button {
    border: 1px solid #5b5a5a;

    width: 122px;
    height: 42px;
    
    font-size: 16px;

    background-color: #5b5a5a;
    color: #fff;
}

.go-list-button:hover {
    text-decoration: underline;
}