p {
    color: #5b5a5a;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    margin-bottom: 35px;

    width: 980px;
    height: 30px;
}

.main-title h1 {
    font-size: 28px;
    color: #252525;
}

.service-explaination {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
    padding: 30px;

    width: 980px;
    height: 84px;

    background-color: #fcfcfc;
}

.service-explaination span {
    font-size: 18px;
}

.call-visit-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-bottom: 50px;

    width: 980px;
    height: 50px;
}

.call-visit-div p {
    font-size: 13px;
}

.detail-before p::before {
    
    margin-right: 5px;
    content: "•";
    color: #0A71CC;
}

.notice-span {
    color: #0a71cc;
}

.call-visit-button {
    border: 1px solid #5b5a5a;
    padding: 8px 45px;
    width: 260px;
    height: 40px;
    font-size: 16px;
    background-color: #5b5a5a;
    color: #fff;
}

.total-request-count-div {
    margin-bottom: 15px;
    width: 980px;
    height: 31px;

}

.total-request-count-div span {
    font-size: 16px;
}

.request-count {
    color: #0A71CC;
}

table {
    border-bottom: 1px solid #7d7d7d;
    
    width: 980px;
    height: 271px;
}

thead th {
    border-top: 1px solid #7d7d7d;

    padding-top: 18px;
    padding-bottom: 18px;

    font-size: 14px;
}

tbody td {
    border-top: 1px solid #d9d9d9;

    padding-top: 18px;
    padding-bottom: 18px;

    text-align: center;

    color: #5b5a5a;
}

.service-explaination-detail {
    margin-top: 20px;

    width: 980px;
    height: 18px;
}

.page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 60px;

    width: 980px;
    height: 36px;
}

.page-div button {
    border: 1px solid #0a71cc;
    margin-right: 5px;

    width: 36px;
    height: 36px;

    color: #fff;
    background-color: #0a71cc;
}