main {
    height: 100%;
}

#container {
    height: 100%;
}

.main-service {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

input {
    background-color: #fcfcfc;
    border: 1px solid #e7e7e7;
}

.title-div {
    margin-bottom: 35px;

    width: 980px;
    height: 30px;
}

.title-h1 {
    font-size: 26px;
    font-weight: 400;
}

.menu-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 30px;

    width: 980px;
    height: 182px;

    background-color: #fcfcfc;
}

.menu-info span {
    font-size: 16px;
    font-weight: 400;
}

.guest-user-div {
    margin-top: 20px;
}

.guest-user-div li {
    font-size: 14px;
    font-weight: 300;
}

.guest-user-div span {
    font-size: 14px;
    font-weight: 300;
    color: #0A71CC;
}

.etc-group {
    width: 980px;
    height: 115px;
}

.etc-group img {
    border: 1px solid #dbdbdb;
    width: 319px;
    height: 113px;
}

.etc-group img:not(.etc-group img:nth-child(1)) {
    margin-left: 7px;
    width: 320px;
}

.select-manufacturer {
    display: flex;

    margin: 10px 0px 60px;

    position: relative;
}

.li-winia, .li-daewoo {
    border: 1px solid #dbdbdb;
    width: 485px;
    height: 182px;
}

.li-daewoo {
    margin-left: 10px;
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

.category-info:hover {
    text-decoration: underline;
}

.category-info h1 {
    font-size: 18px;
    font-weight: 400;
}

.main-request-div {
    width: 985px;
    /* height: 1000px; */
}

.request-ul {
    height: 100%;
}

.step-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-group:not(.step-group:nth-child(1)) {
    margin-top: 50px;
}

.step-title-div {
    display: flex;
    align-items: center;

    border: 1px solid #dbdbdb;
    width: 985px;
    height: 77px;

    cursor: pointer;
}

.step-group h3 {
    padding: 30px;

    font-size: 24px;
    font-weight: 400;

    color: #7d7d7d;
}

.step-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 77px;
    height: 77px;

    background-color: #9e9e9e;
}

.step-div span {
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.step-div span:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.activation-step-title {
    border: 1px solid #0A71CC;
}

.activation-step-div {
    background-color: #0A71CC;
}

/* >>>>>>>>>>>>>>>>>> STEP 1 <<<<<<<<<<<<<<<<<<<*/

.category-image-ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 980px;
}

.category-image-li {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 197px;
    height: 202px;
}

.category-image-li:not(.category-image-li:last-child) {
    border-right: 1px solid #d3d3d3;
}

.product-area {
    border-bottom: 1px solid #d3d3d3;

    padding: 40px 0px 20px;

    width: 980px;

    overflow: hidden;

    position: relative;
}

.detail-product-ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.detail-product-ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.detail-product-ul span {
    margin-bottom: 20px;

    font-size: 13px;
}


.swiper-prev {
    width: 20px;
    height: 20px;

    font-size: 30px;
    font-weight: 500;
    color: #0A71CC;

    position: absolute;
    top: 50%;
    left: 0px;

    z-index: 1;
    cursor: pointer;
}

.swiper-next {
    width: 20px;
    height: 20px;

    font-size: 30px;
    font-weight: 500;
    color: #0A71CC;

    position: absolute;
    top: 50%;
    right: 0px;

    z-index: 1;
    cursor: pointer;

}

.swiper-button-disabled {
    color: #7d7d7d;

}

.product-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 156px;

}

.product-category img, .detail-product-ul img {
    margin-bottom: 20px;
    width: 105px;
    height: 115px;

    cursor: pointer;
}

.product-category p {
    margin-bottom: 20px;

    font-size: 13px;
    font-weight: 500;
}

.product-name-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 156px;
}

.product-name-ul li {
    margin-bottom: 20px;
}

.product-name-ul span {
    font-size: 13px;
    font-weight: 400;
    color: #7d7d7d;
    cursor: pointer;
}

.product-name-ul span:hover {
    text-decoration: underline;
}

.fa-ban {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

.model-name-span {
    font-size: 14px;
    font-weight: 400;
    color: #0A71CC;

}

.category-include-model::before {
    margin: 0px 10px;
    content: " > ";

    color: black;
    font-size: 14px;
}

.write-div {
    width: 980px;
}

.comment-span-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 60px;

    font-size: 13px;
    font-weight: 400;
}

.required-menu::before {
    content: "✔ ";
    color: #0A71CC;
}

.check-last-request-list-div {
    margin-top: 5px;
}

.check-last-request-list-button {
    border: 1px solid #ccc;

    width: 130px;
    height: 25px;
    
    color: #7e7e7e;

    font-size: 12px;
}

.model-check-button-list {
    display: flex;
    align-items: center;
}

.model-check-button-list button {
    border: 1px solid #ccc;

    margin-right: 2px;

    width: 83px;
    height: 31px;

    font-size: 12px;
    background-color: #fff;
    color: #7e7e7e;
}

.model-check-button-list button:nth-child(3) {
    width: 108px;
}

.model-result-span {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #0A71CC;
}

.model-search-div {
    display: flex;
    align-items: center;
}

.model-search-input {
    width: 258px;
    height: 31px;
}

.model-search-button {
    border: 1px solid #ccc;
    margin-left: 5px;

    width: 73px;
    height: 31px;

    background-color: #fff;
    color: #7e7e7e;
}

.model-search-button:hover {
    text-decoration: underline;
}

.search-notice-p {
    
    font-size: 12px;
    color: #7e7e7e;
}

.model-result {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    overflow: auto;
    max-height: 85px;
}

.model-result li {
    float: left;
    width: 255px;
    height: 30px;

    cursor: pointer;
}

.model-result li:hover {
    text-decoration: underline;
}

.model-result li::after {
    content: "┃";
    color: #d9d9d9;

    font-size: 12px;
    font-weight: 100;
}

.request-type-td label {
    cursor: pointer;
}

.request-service-table {
    width: 980px;
    height: 354px;
}

.request-service-table select {
    border: 1px solid #e7e7e7;

    width: 258px;
    height: 31px;

    background-color: #fcfcfc;
    color: #7e7e7e;
}

.request-service-table th, .request-service-table td {
    padding: 10px 20px;
}

table th, table td {
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;

}

table th {
    width: 154px;
}

.description-tr {
    height: 120px;
}

.description-input {
    padding: 5px;
    width: 95%;
    height: 31px;
}

.description-div {
    margin-top: 5px;

    position: relative;
}

.allowed-byte {
    position: absolute;
    right: 40px;

    font-size: 12px;
}

.allowed-byte-display {
    font-size: 13px;
    font-weight: 500;
    color: #0A71CC;
}

.description-div p {
    font-size: 12px;
    color: #7e7e7e;
}

.emphasis-span {
    font-size: 12px;
    color: #ff0000;
}

/* >>>>>>>>>>>>>>>>>> STEP 2 <<<<<<<<<<<<<<<<<<<<<<*/

.user-info-content {
    width: 985px;
    height: 887px;
}

.user-info-table {
    width: 980px;
    height: 324px;
}

.name-input {
    padding: 5px;

    width: 187px;
    height: 31px;
}

.phone-box {
    display: flex;
    align-items: center;
    border: none;
}

.phone-box input {
    padding: 5px;
    height: 31px;
    
    text-align: center;
}

.phone-box select {
    border: 1px solid #e7e7e7;
    
    color: #7e7e7e;
    padding: 5px;

    width: 132px;
    height: 31px;
    background-color: #fcfcfc;
}

.phone-notice-p {
    font-size: 12px;

    color: #5b5a5a;
}

.email-box input{
    padding: 5px;
    width: 130px;
}

.email-box select {
    border: 1px solid #e7e7e7;

    width: 125px;
    height: 31px;
    
    background-color: #fcfcfc;

}

.address-td input {
    padding: 5px;
    height: 31px;
}

.postal-code {
    width: 72px;
}

.main-address {
    /* width: 587px; */
    width: 487px;
}

.search-address-button {
    border: 1px solid #e7e7e7;
    
    width: 73px;
    height: 31px;

    color: #5b5a5a;
    background-color: #fff;
}

.address-button {
    padding: 10px 5px;
    text-align: center;
}

.button-area {
    width: 146px;
    height: 74px;
}

.button-area div {
    display: flex;
    align-items: center;
}

.address-button input {
    margin-right: 2px;

    vertical-align: inherit;
    width: 15px;
    height: 31px;
}

.default-address, .past-address {
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding-top: 5px;

    width: 109px;
    height: 31px;

    color: #7e7e7e;
    background-color: #fff;
}

.user-agree-div {
    margin-top: 50px;
}

.user-agree-div h1 {
    font-size: 16px;
    font-size: 500;
    color: #252525;
}

.user-agree-div p {
    color: #7d7d7d;
    font-weight: 400;
}

.consent-to-use-div, .consignment-processing-div {
    border: 1px solid #dbdbdb;
    padding: 9px;
    width: 978px;
    height: 150px;

    overflow: auto;

    background-color: #fcfcfc;
}

.consignment-processing-div table {
    width: 940px;
    height: 225px;

}

.consignment-processing-div td {
    height: 25px;
}

.consignment-processing-div table, .consignment-processing-div table th, .consignment-processing-div table td {
    border: 1px solid #dbdbdb;

    font-size: 12px;
    font-weight: 300;

    text-align: center;
}

.input-checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

}

.input-checkbox label {
    margin-left: 10px;

    cursor: pointer;
}

/* >>>>>>>>>>>>>> STEP 3 <<<<<<<<<<<<<<*/

.main-h2-div {
    display: flex;
    align-items: center;

    margin-top: 15px;
}

.main-h2-div h2 {
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    color: #5b5a5a;
}

.select-day-h2-div {
    width: 326px;
    height: 43px;
}

.select-time-h2-div {
    width: 654px;
    height: 43px;
}

.schedule-div {
    display: flex;
}

.canlendar-table th, .canlendar-table td {
    border: none;
    text-align: center;
}

.calendar-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #d3d3d3;

    width: 324px;
    height: 360px;
}

.select-month-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px 0px;
}

.month-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;

    width: 14px;
    height: 14px;
    background-color: black;

    color: white;
}

.now-date {
    margin: 0px 20px;
}


.calendar-head th {
    height: 33px;
}

.calendar-body tr {
    width: 324px;
    height: 33px;
}

.calendar-body td {
    height: 33px;
}

.sunday, .past-day, .future-day {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #dbdbdb;
    margin: 3px auto 0px;

    width: 33px;
    height: 33px;

    color: #bcbcbc;

    cursor: default;
}

.day-div, .saturday {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #bcbcbc;
    margin: 3px auto 0px;

    width: 33px;
    height: 33px;

    cursor: pointer;
}

.saturday {
    color: #0A71CC;
}

.show-date-span {
    margin-left: 15px;
}

.show-date-div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #bcbcbc;
    margin-top: 40px;
    
    width: 100%;
    height: 100%;
}

.inactive-button {
    cursor: default;
    background-color: #7e7e7e;
}

.reservation-time-div {
    border: 1px solid #d3d3d3;
    padding: 30px;
    width: 654px;
    height: 360px;
}

.main-time-content dl {
    display: flex;
    width: 593px;
    height: 69px;
}

.main-time-content dt {
    padding-top: 12px;
}

.main-time-content dd {
    width: 520px;
    height: 80px;
}

.activation {
    display: inline-block;
    border: 1px solid #dbdbdb;
    margin: 11px 0px 0px 16px;
    padding: 3px 0px 0px;
    width: 45px;
    height: 29px;

    cursor: pointer;
    text-align: center;
}

.select-day, .select-time {
    border: 1px solid #0a71cc;

    background-color: #0a71cc;
    color: #fff;
}

.unbookable {
    border: none;

    color: #bcbcbc;

    cursor: default;
}

.engineer-content:not(.engineer-content:nth-child(1)) {
    border-top: 1px solid #dbdbdb;
    margin-top: 40px;
    padding-top: 20px;
}

.schedule-explaination-div {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 978px;
    height: 59px;
}

.schedule-explaination-div span {
    margin: 0px 30px 0px 15px;
}

.white-display-div {
    border: 1px solid #bcbcbc;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
}

.blue-display-div {
    border: 1px solid #0A71CC;
    width: 15px;
    height: 15px;
    background-color: #0A71CC;
}

.schedule-explaination-dtl-ul {
    margin-top: 20px;
    width: 980px;
    height: 72px;
}

.schedule-explaination-dtl-ul li span:not(.schedule-explaination-dtl-ul li span:nth-child(1)), 
.confirm-explaination li span:not(.confirm-explaination li span:nth-child(1)){
    padding-left: 8px;
}

.schedule-explaination-dtl-ul li::before, 
.confirm-explaination li::before {
    content: "•";
    color: #0A71CC;
}

.schedule-explaination-dtl-ul span {
    font-size: 12px;
    font-weight: 400;
}

/* >>>>>>>>>>>>>>>>>> STEP 4 <<<<<<<<<<<<<<<<<<*/

.main-confirm-div {
    margin-top: 30px;

    width: 980px;
    height: 560px;
}

.confirm-info {
    display: flex;
    width: 985px;
    height: 312px;
}

.confirm-info div:nth-child(2) {
    width: 487px;
    height: 312px;
}

.confirm-info .detail-content:first-child {
    border-left: 1px solid #d3d3d3;
}

.confirm-info div:not(.confirm-info div:nth-child(2)) {
    width: 249px;
    height: 312px;
}

.detail-content {
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.detail-content h4 {
    border-bottom: 1px solid #d3d3d3;
    padding: 25px 0 25px 30px;

    font-size: 15px;
    font-weight: 400;

    color: #0A71CC;
    background-color: #f5f5f5;
}

.detail-content .text-info {
    padding: 0 25px 25px 30px;
    width: 192px;
}

.detail-content .text-info dl {
    margin-top: 20px;
}

.detail-content .text-info dt {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 400;
    color: #252525;
}

.detail-content .text-info dd {
    font-size: 13px;
    color: #7d7d7d;
}

.confirm-info .detail-content .applicant {
    height: 213px;
}

.text-info .flex-row {
    display: flex;
    height: 60px;
}

.text-info .flex-row div:nth-child(2) {
    margin-left: 70px;
}

.confirm-info .detail-content .text-info .modify-button {
    margin-top: 20px;
    width: 192px;
    height: 31px;
}

.confirm-explaination {
    margin-top: 20px;
}

.modify-button button {
    border: 1px solid #ccc;

    width: 102px;
    height: 31px;

    background-color: #fff;
    color: #7e7e7e;
}

.request-and-cancel-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    width: 980px;
    height: 42px;
}

.request-button {
    border: 1px solid #0a71cc;
    width: 122px;
    height: 42px;
    
    font-size: 16px;
    background-color: #0a71cc;
    color: #fff;
}

.cancel-button {
    margin-left: 3px;
    border: 1px solid #5b5a5a;
    width: 122px;
    height: 42px;
    
    font-size: 16px;
    background-color: #5b5a5a;
    color: #fff;
}

.detail-content-div {
    position: relative;
}

.step-lock {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .5;
    background-color: #f5f5f5;
}

.visible {
    display: none;
}