.login-box {
    border: 1px solid rgb(179, 179, 179);
    margin-bottom: 50px;
    padding: 30px 0px;

    width: 100%;
    height: 407px;
}

.user-area-inner {
    width: 440px;
    height: 230px;
    margin: 0 auto;
}

.user-area-inner form {
    position: relative;
    width: 100%;
}

.button-login {
    width: 97px;
    height: 101px;
    background-color: #0a71cc;
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 0;
    border: none;
}

.input-user input {
    width: 340px;
    height: 48px;
    position: relative;
    border: 1px solid rgb(231, 231, 231);
    padding: 5px 5px 5px 12px;
    font-size: 12px;
    background-color: rgb(252, 252, 252);
}

.input-user:first-child input {
    margin-bottom: 5px;
}

.save-id {
    font-size: 13px;
    margin-top: 14px;
}

.find-user {
    width: 100%;
    height: 83px;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 13px;
    border-top: 1px solid #dbdbdb;
}

.find-user p {
    float: left;
    font-size: 13px;
    height: 31px;
    margin-bottom: 5px;
}

.bin-area {
    width: 190px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    margin-bottom: 1px;
}

.bin-area .find-button {
    display: block;
    height: 31px;
    border: 1px solid #dbdbdb;
    padding: 0 12px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
}

.find-user span {
    color: #0a71cc;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.enjoy {
    width: 100%;
    height: 82px;
    border-top: 1px solid #dbdbdb;
    margin-top: 27px;
    padding-top: 27px;
}

.enjoy-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 54px;
    margin: 0 auto;
    display: flex;
}

.user-image-box {
    width: 50px;
    height: 50px;
    padding-top: 5px;
}

.enjoy-textbox {
    width: 320px;
}

.enjoy-textbox p {
    font-size: 13px;
}

.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-area button {
    width: 106px;
    height: 37px;
    
    float: right;

    background-color: #5b5b5b;
    color: #fff;

    cursor: pointer;
}