<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/util/location_notice.css">
    <link rel="stylesheet" href="/static/css/board/board_detail.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>[위니아에이드] 불편합니다</title>
</head>
<body>
    <th:block th:replace="fragments/header"></th:block>
    <main>
        <div class="content-body">
            <div class="location-div">
    
            </div>
            <div class="content-body-inner">
                <ul>
                    <h2>불편합니다</h2>
                </ul>
                <table>
                    
                </table>
                <div class="file-div">

                </div>
                <table class="response-table visible">
                    <tr>
                        <td>
                            <div class="board-post">
                                <textarea class="content" readonly>dsafdsafdsafsd</textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <center>
                    <button class="update-button visible">수정</button>
                    <button class="delete-button visible">삭제</button>
                    <button class="list-button">목록</button>
                </center>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
    <script src="/static/js/util/principal.js"></script>
    <script src="/static/js/util/remove_non_member_service_authentication.js"></script>
    <script src="/static/js/util/remove_non_member_board_authentication.js"></script>
    <script src="/static/js/util/location_notice.js"></script>
    <script src="/static/js/fragments/header.js"></script>
    <script src="/static/js/fragments/footer.js"></script>
    <script src="/static/js/util/location_notice.js"></script>
    <script src="/static/js/board/board_detail.js"></script>
</body>
</html>