<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[위니아에이드] 불편합니다</title>
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/util/location_notice.css">
    <link rel="stylesheet" href="/static/css/util/paging.css">
    <link rel="stylesheet" href="/static/css/board/board_list.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>
    <main>
        <div class="board-body">
            <div class="board-body-inner">
                <div class="location-div">
        
                </div>
                <div class="board-body-inner-info">
                    <ul>
                        <h2 class="board-type-title">불편합니다</h2>
                    </ul>
                    <div class="menu-info">
                        <ul class="info-group">
                            <div class="menu-li">
                                <p>서비스에 대한 불편사항이나 불만사항이 있으시면 언제든지 개선하여 주십시오.</p>
                                <p>접수되는 내용은 빠른 시일 내에 처리하여 답변해 드리겠습니다.</p>
                                <ul class="menu-li-ul">
                                    <li>고객님의 제품 사용에 대한 불편사항, 개선사항 등 접수되는 내용은 최대한 반영하여 더욱 편리하고 깨끗한 제품을 만들 수 있는 소중한 자료로 활용할 것입니다.</li>
                                    <li>게시된 내용은 비공개로 처리가 되며 본인이 게시한 내용만 조회 및 진행사항을 확인하실 수 있습니다.</li>
                                </ul>
                            </div>
                            <ul class="btn-group">
                                <button class="write-button" type="button">글쓰기</button>
                                <button class="board-history-button" type="button">나의 글보기</button>
                            </ul>    
                        </ul>
                    </div>
                    <div class="list-style">
                        <div class="board-search">
                            <p>전체 <span class="total-count-span">0</span>건</p>
                            <ul class="board-btn-group">
                                <select name="select" class="select-btn">
                                    <option value="all">전체</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                </select>
                                <input class="input-box" type="text">
                                <button type="button" class="search-btn">검색</button>
                            </ul>
                        </div>
                        <table class="content-table">
                            <thead class="content-table-head">
                                <tr>
                                    <th class="content-title">제목</th>
                                    <th class="content-name">작성자</th>
                                    <th class="content-date">등록일</th>
                                </tr>
                            </thead>
                            <tbody class="content-table-body">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="page-button-div">
                            
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="/fragments/footer"></th:block>
    <script src="/static/js/util/remove_non_member_service_authentication.js"></script>
    <script src="/static/js/util/remove_non_member_board_authentication.js"></script>
    <script src="/static/js/util/principal.js"></script>
    <script src="/static/js/fragments/header.js"></script>
    <script src="/static/js/util/location_notice.js"></script>
    <script src="/static/js/util/paging.js"></script>
    <script src="/static/js/board/board_list.js"></script>
</body>
</html>