.main-company-div {
    display: flex;

    margin-bottom: 50px;
}

.main-company-div div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 50px;

    background-color: #ededed;

    cursor: pointer;
}

.main-company-div div:not(last-child) {
    margin-right: 30px;
}

.product-box {
    display: flex;
    justify-content: space-between;

    width: 980px;

}

.product-box div {
    padding: 15px;
    
    width: 300px;
    height: 270px;

    overflow: auto;
    
    background-color: #ededed;
}

.sortation-span {
    display: inline-block;
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 20px;
}

.product-ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0px;

    height: 45px;
}

.product-ul li div {    
    padding: 0px 5px;
    height: 20px;
}

.fa-cube {
    margin-right: 10px;
}

.product-detail-span {
    cursor: pointer;
}

.solution-select-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    width: 300px;
}

.solution-select-div div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 50px;

    background-color: #ededed;

    cursor: pointer;
}

.select-div {
    background-color: #6e6e6e !important;
}

.summer-note-content {
    margin: 50px 0px;
}

.title {
    margin-bottom: 10px;
    
    width: 738px;
    height: 40px;
}

.button-div {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    
    width: 768px;
}

.write-request-button {
    border: none;
    
    width: 50px;
    height: 30px;

    background-color: #6e6e6e;
}