<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <ul class="select-manufacturer">
        <div class="step-lock visible"></div>
        <li class="li-winia">
            <a href="#">
                <div class="category-info">
                    <h1>위니아 제품</h1>
                    <ul>
                        <li>-위니아 김치냉장고</li>
                        <li>-위니아 에어컨</li>
                        <li>-딤채쿡, 에어워셔</li>
                        <li>-기타 위니아 제품</li>
                    </ul>
                </div>
            </a>
        </li>
        <li class="li-daewoo">
            <a href="#">
                <div class="category-info">
                    <h1>위니아전자 (구 대우전자) 제품</h1>
                    <ul>
                        <li>-Klasse/위니아전자 세탁기, 건조기</li>
                        <li>-Klasse/위니아전자 냉장고</li>
                        <li>-Klasse/위니아전자 에어컨</li>
                        <li>-기타 위니아전자 제품</li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
</html>