<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <footer>
        <div id="outline">
            <div class="info-outer">
                <div class="footer-info">
                    <ul class="info">
                        <li>개인정보취급방침</li>
                        <li>이용약관</li>
                        <li>이메일무단수집거부</li>
                        <li>사이트맵</li>
                    </ul>
                </div>
                <div class="footer-inner">
                    <ul class="company-info1">
                        <div class="company-info1-detail">
                            <li>상호 : 위니아에이드</li>
                            <li>주소 : 광주광역시 광산구 소촌로 123번길 40-11</li>
                            <li>대표이사 : 백성식</li>
                        </div>
                    </ul>
                    <ul class="company-info2">
                        <li>사업자 등록번호 : 410-87-07666</li>
                        <li>이메일 문의</li>
                        <li>대표전화 : 1588-9588(통화요금 발신자 부담)</li>
                    </ul>
                    <div class="scrollbar-button">
                        <button>familySite</button>
                        <ul class="open-familysite">
                        	<li><a href="https://www.winiadimchae.com/main.jsp" target="_blank">위니아 브랜드사이트</a></li>
	                        <li><a href="http://www.winia-eshop.com/main.do" target="_blank">위니아 e샵</a></li>
	                        <li><a href="https://www.winiame.com/" target="_blank">위니아미</a></li> 
	                        <li><a href="http://www.dayou.co.kr" target="_blank">대유위니아 그룹</a></li>
							<li><a href="http://www.winia-elec.com/html/index2.asp" target="_blank">위니아전자</a></li>
							<li><a href="http://mfact.winia-elec.com/company.asp" target="_blank">위니아전자매뉴팩처링</a></li>
							<li><a href="http://www.globaldayou.com" target="_blank">대유글로벌</a></li>
							<li><a href="http://dayouat.co.kr" target="_blank">대유에이텍</a></li>
							<li><a href="http://www.dayouplus.co.kr" target="_blank">대유플러스</a></li>
							<li><a href="http://www.dayouap.co.kr" target="_blank">대유에이피</a></li>
							<li><a href="http://www.dayoumold.co.kr" target="_blank">대유금형</a></li>
							<li><a href="http://www.dayouoil.co.kr" target="_blank">대유홀딩스</a></li>
							<li><a href="https://www.montvertcc.com" target="_blank">대유몽베르컨트리클럽</a></li>
							<li><a href="http://www.greenmountainfairway.com" target="_blank">푸른산페어웨이</a></li>
                        </ul>
                    </div>
                    <ul class="pride">
                        <li><img src="/static/images/winnia-front/wa_logo.png" alt=""></li>
                        <li><img src="/static/images/winnia-front/wusugyiup_logo.png" alt=""></li>
                        <li><img src="/static/images/winnia-front/2020KSQI_logo.png" alt=""></li>
                        <li><img src="/static/images/winnia-front/2019KSQI_logo.png" alt=""></li>
                        <li><img src="/static/images/winnia-front/2018KSQI_logo.png" alt=""></li>
                    </ul>
                    <ul class="infomation">
                        <p>Copyrightⓒ WINIA AID CO, Ltd All Rights Reserved.</p>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</html>