<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <header>
        <div class="top-div">
            <div class="top-bar">
                <ul>
                    <li><i class="fa-solid fa-bars"></i></li>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                    <li>위니아e샵<i class="fa-solid fa-location-arrow"></i></li>
                </ul>
            </div>
        </div>
        <div class="bottom-div">
            <div class="bottom-bar">
                <ul>
                    <li class="top-logo"><img src="/static/images/winnia-front/logo.png" alt=""></li>
                </ul>
                <ul class="menu">
                    <li class="menu-line">간편해결
                        
                    </li>
                    <li class="menu-line">전문상담
                       
                    </li>
                    <li class="menu-line">서비스 신청/변경
                        
                    </li>
                    <li class="menu-line">Apple 공인 서비스 센터
                        
                    </li>
                    <li class="menu-line">고객의소리
                        
                    </li>
                    <li class="menu-line">센터/판매점
                        
                    </li>
                    <li class="menu-line">마이페이지
                        
                    </li>
                    <li class="menu-line">회사소개
                        
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="sub-menubar-out">
        
        <div class="sub-menubar-out-line">
    
            <ul class="menu-line-sub">
                <li class="faq-board">자주하는 질문</li>
                <li class="self-check-board">자가진단</li>
                <li>동영상가이드</li>
                <li>제품사용설명서</li>
                <li>제품 배송/설치일정</li>
                <li>전기요금 계산</li>
                <li>제품 이전설치비용 계산</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li>상담문의</li>
                <li>전화상담예약 신청</li>
                <li>전화상담예약 조회/취소</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li class="visit-repair-service">방문서비스 신청</li>
                <li class="visit-repair-service-detail">방문서비스 조회/변경/취소</li>
                <li class="refrigerator-recall-service">김치냉장고 리콜 신청</li>
                <li>서비스 요금 안내</li>
                <li>고객만족 제도</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li>예약</li>
                <li>센터 위치 및 정보</li>
                <li>가격</li>
                <li>방문 전 확인 사항</li>
                <li>AppleCare+ 구입 안내</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li class="complaint-board">불편합니다</li>
                <li class="praise-board">칭찬합니다</li>
                <li class="suggestion-board">제안합니다</li>
                <li>서비스 만족도 평가</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li>서비스센터 찾기</li>
                <li>판매점 찾기</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li class="user-request-history">서비스 이력</li>
                <li class="user-board-history">나의 글보기</li>
                <li class="user-info-modify">회원정보 수정</li>
            </ul>
        
            <ul class="menu-line-sub">
                <li>투자정보</li>
                <li>재무정보</li>
                <li>회사 소식</li>
                <li>CEO 인삿말</li>
                <li>비전</li>
                <li>기업정보</li>
                <li>윤리경영</li>
                <li>인재상</li>
                <li>사업제휴</li>
            </ul>
             
        </div>
    </div>
    <script src="/static/js/fragments/header.js"></script>
</html>