<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div class="swiper-container swiper-category">
        <div class="swiper-wrapper"></div>
        <div class="swiper-prev slide-div visible">&lt;</div>
        <div class="swiper-next slide-div visible">&gt;</div>
    </div>
    <div class="product-area">
        <div class="swiper-container swiper-product">
            <div class="swiper-wrapper"></div>
            <div class="swiper-prev slide-div visible">&lt;</div>
            <div class="swiper-next slide-div visible">&gt;</div>
        </div>
    </div>
</html>