header {
    height: 68px;
    width: 100%;
    
    background-color: #0a71cc;
}

.title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}

.title-div h1 {
    padding-left: 30px;
    font-size: 18px;
    color: #fff;
}

.cancel-image {
    padding-right: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;

    cursor: pointer;
}