header {
    height: 68px;
    width: 100%;
    
    background-color: #0a71cc;
}

.title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}

.title-div h1 {
    padding-left: 30px;
    font-size: 18px;
    color: #fff;
}

.cancel-image {
    padding-right: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;

    cursor: pointer;
}


/*>>>>>>>>>>>>>>>>>> main <<<<<<<<<<<<<<<<<<<*/

#container {
    padding: 30px;

    width: 675px;
    height: 770px;
}

input {
    padding: 10px;
}

.step-title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 400;
    color: #0a71cc
}

.comment-p {
    margin-bottom: 20px;
}

.search-address-div {
    border: 1px solid #d9d9d9;
    
    padding: 20px;
}

.search-address-div input {
    border: 1px solid #e7e7e7;
    padding: 5px;
    
    width: 488px;
    height: 31px;

    background-color: #fcfcfc;
}

.search-address-div button {
    border: 1px solid #ccc;
    
    width: 73px;
    height: 31px;

    background-color: #fff;
    color: #7e7e7e;
}

.notice-span {
    color: #0a71cc
}

.notice-p {
    margin-top: 10px;
    color: #7e7e7e;
    font-size: 12px;
}

.search-step-2 {
    margin-top: 40px;
}

.address-result-div-1 thead th {
    padding: 18px 0px;
}

.address-result-div-1 tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;

    width: 100%;
}

.address-result-div-1 table td {
    border-top: 1px solid #d9d9d9 ;
}

.postal-code-p {
    width: 100%;

    color: #7e7e7e;
    text-align: center;
}

.address-road, .address-jibun {
    color: #7e7e7e;
}

.address-road:hover, .address-jibun:hover {
    text-decoration: underline;
}

.address-road::before {
    content: "[도로명] ";
    color: #0a71cc;
}

.address-jibun::before {
    content: "[지번] ";
    color: #0a71cc;
}

.address-info-td {
    padding-right: 24px;
    padding-left: 24px;
}

.address-result-div-2 th, .address-result-div-2 td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.address-result-div-2 th {
    padding-left: 10px;
}

.address-result-div-2 td {
    padding-left: 24px;
    padding-right: 24px;
}

.postal-code-check {
    border: 1px solid #e7e7e7;
    padding: 5px;

    width: 122px;
    height: 31px;

    background-color: #fcfcfc;
}

.main-address-check {
    border: 1px solid #e7e7e7;

    padding: 5px;
    width: 348px;

    background-color: #fcfcfc;
}

.detail-address-tr {
    border-top: 1px solid #d9d9d9;
}

.detail-address-check {
    border: 1px solid #e7e7e7;

    width: 100%;
    height: 31px;
    color: #7e7e7e;
    background-color: #fcfcfc;
}

.write-cancel-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.write-cancel-div button {
    border: none;

    width: 122px;
    height: 42px;
    
    font-size: 16px;
    
    color: #fff;
    cursor: pointer;
}

.write-button {
    margin-right: 10px;
    background-color: #0a71cc;
}

.write-cancel-button {
    background-color: #5b5a5a;
}

.visible {
    display: none
}