*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

.menu-line-visible {
    height: 0px;
    animation: fadeout 0.5s;
}

@keyframes fadeout {
    from {
        height: 50px;
    }
    to {
        height: 0px;
    }
    
}

.menu-visible {
    display: none;
}