a {
	display:block;
}
img {
	max-width:100%;
	vertical-align:top;
}

body {
	width: 1920px;

}
.visible {
	visibility:hidden;
} 

#contents {
	width: 1920px;
	margin: 0 auto;

	overflow: hidden;
}

/* service-banner */
.service-banner {
	display:flex;
	justify-content:space-between;
	width:1400px;
	margin:0 auto 50px;
	padding-top:30px;
}
.main-slide {
	position:relative;
	width:830px;
	height:856px;
	border:1px solid #e2e2e2;
	overflow:hidden;
}
.main-slide .swiper-pagination {
	bottom:30px !important;
}
.main-slide span.swiper-pagination-bullet {
	margin:0 6px !important;
	width:12px;
	height:12px;
	background-color:#e1e2e6;
	opacity:1;
}
.main-slide span.swiper-pagination-bullet-active {
	width:40px;
	border-radius:30px;
	background-color:#003b70;
}
.main-slide .swiper-button-prev {
	width:19px;
	height:36px;
	background:url(/static/images/prev_btn.png);
	left:30px;
	margin-top:0;
	transform:translateY(-50%);
}
.main-slide .swiper-button-next {
	width:19px;
	height:36px;
	background:url(/static/images/next_btn.png);
	right:30px;
	margin-top:0;
	transform:translateY(-50%);
}
.swiper-button-next::after,.swiper-button-prev::after {
	display:none;
}
.customer-service {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:541px;
}
.icon-menu {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-end;
	gap:18px;
}
.service-number {
	display:flex;
	flex-wrap:wrap;
	padding:12px 22px;
	border:1px solid #e2e2e2;
	background-color:#f5f9fc;
}
.service-number-box {
	width:50%;
	text-align:center;
}
.service-number-box:nth-child(1),.service-number-box:nth-child(2) {
	padding-bottom:12px;
	border-bottom:1px solid #dfe2ea;
}
.service-number-box:nth-child(3),.service-number-box:nth-child(4) {
	padding-top:12px;
}
.service-number-box:nth-child(odd) {
	padding-right:12px;
	border-right:1px solid #dfe2ea;
}
.service-number-box:nth-child(even) {
	padding-left:12px;
}
.center-name {
	font-size:16px;
	font-weight:500;
	color:#666;
	line-height:1;
}
.center-number {
	font-size:30px;
	font-weight:700;
	color:#003b71;
	line-height:1;
	letter-spacing:-1px;
	margin:8px 0;
}
.call-info {
	font-weight:400;
	color:#666;
	line-height:1;
	letter-spacing:-1px;
}
.search-center {
	padding:25px 30px;
	background-color:#f5f9fc;
	border:1px solid #e2e2e2;
}
.select-region::after {
	display:block;
	clear:both;
	content:'';
}
.select-title {
	display:flex;
	margin-bottom:25px;
	gap:28px;
}
.select-title button {
	font-size:28px;
	font-weight:500;
	color:#c2c2c2;
	border:0;
	background-color:transparent;
}
.select-title button.active {
	font-weight:700;
	color:#222;
}
.select-title button:hover {
	text-decoration:underline;
}
.select-title .service {
	position:relative;
}
.select-title .service::after {
	position:absolute;
	top:0;
	right:-20px;
	content:'/';
	font-size:28px;
	font-weight:400;
	color:#c2c2c2;
}
.select-sido {
	width:100%;
	height:40px;
	padding:0 5px;
	margin-bottom:10px;
	border:1px solid #e7e7e7;
	background-color:#fcfcfc;
	color:#7e7e7e;
	font-size:13px;
}
.input-region {
	float:left;
	width:370px;
	height:40px;
	padding:0 8px;
	border:1px solid #e7e7e7;
	background-color:#f8f8f8;
	color:#7e7e7e;
	font-size:13px;
}
.search-button {
	float:right;
	width:100px;
	height:40px;
	background-color:#222;
	font-size:20px;
	font-weight:700;
	line-height:1.5;
	color: #fff;
}

/* solution */
.solution {
	display: flex;
	flex-direction: column;
	align-items: center;

	width:1900px;
	background:url(/static/images/solution_bg.jpg) no-repeat center/cover;
	margin-bottom:100px;
}
.solution h2 {
	width:1400px;
	margin:0 auto;
	padding:100px 0 60px;
	line-height:1;
	text-align:center;
	font-size:28px;
	font-weight:700;
}
.select-product, .product-detail {
	width:1400px;
	margin:0 auto;
	padding-bottom:20px;
}
.select-product .category {
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.select-product .category li {
	width:260px;
	height:330px;
}
.select-product .category li button {
	display:block;
	width:100%;
	height:100%;
	border:0;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;
}
.select-product .category li button.on {
	background-position:0 -330px;
}
.select-product .category li button.kimchi-fridge {
	background-image:url(/static/images/item_category1.jpg);
}
.select-product .category li button.air-contidioner {
	background-image:url(/static/images/item_category2.jpg);
}
.select-product .category li button.rice-cooker {
	background-image:url(/static/images/item_category3.jpg);
}
.select-product .category li button.kitchen-appliances {
	background-image:url(/static/images/item_category4.jpg);
}
.select-product .category li button.household-appliances {
	background-image:url(/static/images/item_category5.jpg);
}
.category-items-slide {
	position:relative;
	width:1400px;
	height:0px;
	background-color:#fff;
	transition:all 0.6s;
	opacity:0;
}
.category-items-slide.show {
	height:200px;
	opacity:1;
}
.category-items-slide.show .item2 {
	display:flex;
}
.slide-wrapper {
	position:absolute;
	width:2800px;
	height:100%;
	display:flex;
	opacity:0;
	transition:all 0.6s;
}
.category-items-slide.show .slide-wrapper {
	opacity:1;
}

.outer-div {
	display: flex;
	flex-direction: column;
	width: 1400px;

	overflow: hidden;
}

.swiper1, .swiper2 {
	position: relative;
}

.swiper1 .swiper-slide {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.swiper1 .swiper-slide div, .swiper2 .swiper-slide div {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 200px;
	height: 200px;

	background-color: white;

	cursor: pointer;
}

.swiper2 .swiper-slide div {
	width: 100px;
}

.swiper2 .swiper-slide {
	background-color: #fff;
}

 .category-image-ul, .product-image-ul {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 1400px;
}

.swiper-button-prev {
	font-size: 30px;
	font-weight: 700;

	cursor: pointer;

	position: absolute;
	top: 100px;
	left: 10px;
}

.swiper-button-next {
	font-size: 30px;
	font-weight: 700;

	cursor: pointer;

	position: absolute;
	top: 100px;
	right: 10px;
}

.item {
	display:flex;
	width:1400px;
	justify-content:center;
	align-items:center;
	gap:80px;
}
.item.haspage2 {
	min-width:1400px;
	justify-content:space-between;
	padding:0 80px;
	gap:0;
}
.item2 {
	display:none;
	width:1400px;
	justify-content:center;
	align-items:center;
	gap:50px;
}
.item button,.item2 button {
	background:transparent;
	border:0;
	font-size:13px;
	color:#252525;
	font-weight:400;
}
.item .item-image,.item2 .item-image {
	width:100px;
	height:100px;
	margin:0 auto 30px;
	display:block;
}
.item .itme-image img,.item2 .itme-image img {
	width:100%;
	display:block;
}
.slide-button-prev {
	position:absolute;
	top:50%;
	left:20px;
	transform:translateY(-50%);
	width:12px;
	height:21px;
	background-image:url(/static/images/category_prev.png);
	background-color:transparent;
	background-position:0 0;
	border:0;
}
.slide-button-next {
	position:absolute;
	top:50%;
	right:20px;
	transform:translateY(-50%);
	width:12px;
	height:21px;
	background-image:url(/static/images/category_next.png);
	background-color:transparent;
	background-position:0 0;
	border:0;
}
.slide-button-prev.on,.slide-button-next.on {
	background-position: 0 -21px;
}

/* guide-banner */
.guide-banner {
	width:1400px;
	margin:0 auto 70px;
}
.guide-banner h2 {
	margin-bottom:60px;
	line-height:1;
	text-align:center;
	font-size:28px;
	font-weight:700;
}
.guide-banner-image {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	gap: 23px;
}

/* board */
.board {
	width:1400px;
	margin:0 auto 100px;
	display:flex;
	gap:140px;
}
.notice-event {
	position:relative;
	width:50%;
	height:165px;
}
.board-title {
	display:flex;
	align-items:center;
	margin-bottom:32px;
}
.board-title button {
	font-size:28px;
	font-weight:700;
	color:#c2c2c2;
	border:0;
	background-color:transparent;
}
.board-title button:hover {
	text-decoration:underline;
}
.board-title button.active {
	font-weight:700;
	color:#222;
}
.board-title .notice::after {
	content:'';
	display:inline-block;
	width:1px;
	height:28px;
	background-color:#c2c2c2;
	vertical-align:top;
	margin:7px 12px 0;
}
.board-preview a,.board-preview span {
	color:#666;
	font-size:16px;
	font-weight:400;
	line-height:1.2;
}
.board-preview ul {
	display:none;
}
.board-preview ul.active {
	display:block;
}
.board-preview li {
	position:relative;
	margin-bottom:15px;
}
.board-preview .li:last-child {
	margin-bottom:0;
}
.board-preview li .title {
	width:80%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.board-preview li .title:hover {
	text-decoration:underline;
}
.board-preview li .date {
	position:absolute;
	top:0;
	right:0
}
.more {
	position:absolute;
	top:7px;
	right:0;
}
.more>div {
	display:none;
}
.more>div.active {
	display:block;
}
.more a {
	width:25px;
	height:25px;
	background:url(../images/more_btn.png);
	text-indent:-9999px;
}
.voice-of-customer {
	width:50%;
	display:flex;
	justify-content:space-between;
}
.voice-of-customer .txt {
	line-height:1;
}
.voice-of-customer .txt p {
	font-size:28px;
	color:#222;
	font-weight:700;
	margin-bottom:35px;
}
.voice-of-customer .txt span {
	display:block;
	font-size:16px;
	color:#666;
	font-weight:400;
	line-height:1.3;
}
.voice-of-customer .image {
	display:flex;
	gap: 10px;
}

/* shortcut-banners */
.shortcut-banners {
	display:flex;
	justify-content:space-between;
	width:1400px;
	margin: 0 auto 100px;
}

/* partner-company */
.partner-company {
	border-top:1px solid #e5e5e5;
	margin-bottom:90px;
}
.partner-company h2 {
	width:1400px;
	margin:0 auto;
	padding-top: 40px;
    margin-bottom: 60px;
	font-size:28px;
	color:#222;
	font-weight:700;
	line-height:1;
	text-align:center;
}
.partner-slide-wrap {
	width:1400px;
	margin:0 auto;
	padding:12px 30px;
	position:relative;
}
.partner-slide {
	overflow:hidden;
}
.partner-slide .swiper-slide {
	text-align:center;
}
.partner-slide a {
	display:inline-block;
}
.partner-slide .swiper-button-prev {
	width:10px;
	height:17px;
	padding:15px 10px;
	background:url(/static/images/btn_left.png) no-repeat center;
	margin-top:0;
	transform:translateY(-50%);
}
.partner-slide .swiper-button-prev:hover {
	background:rgba(0,0,0,.1) url(/static/images/btn_left.png) no-repeat center;
	border-radius:8px;
}
.partner-slide .swiper-button-next {
	width:10px;
	height:17px;
	padding:15px 10px;
	background:url(/static/images/btn_right.png) no-repeat center;
	margin-top:0;
	transform:translateY(-50%);
}
.partner-slide .swiper-button-next:hover {
	background:rgba(0,0,0,.1) url(/static/images/btn_right.png) no-repeat center;
	border-radius: 8px;
}

/* quick-menu */
.quick-menu {
	position:fixed;
	top:203px;
	left:50%;
	margin-left:720px;
}
.quick-menu ul {
	border:1px solid #d9d9d9;
	background-color:#fff;
	overflow:hidden;
}
.quick-menu ul li {
	width:79px;
	height:96px;
}
.quick-menu ul li:not(:last-child) {
	border-bottom:1px solid #d9d9d9;
}
.go-top {
	border:0;
	width:81px;
	height:28px;
	background:url(/static/images/btn_top.jpg);
	text-indent: -99999px;
}