header{
    width: 100%;
    height: 160px;
    /* background-color: red; */
}

.top-div{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.top-bar{
    width: 1600px;
    height: 68px;
    font-size: 16PX;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: chartreuse; */
    margin: 0 auto;
}
.top-bar li{
    padding: 19px;
    margin-left: 12px;
    float: right;
    display: flex;
}
.bottom-div{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.bottom-bar{
    width: 1600px;
    /* background-color: royalblue; */
    height: 92px;
    display: flex;
    margin: 0 auto;
}
.bottom-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-line{
    width: 1600px;
    height: 51px;
    /* background-color: blue; */
    display: flex;
}

.top-logo ul{
    display: flex;
    justify-content: flex-start;
}
.top-logo li{
    margin-left: 0px;
}
.menu{
    width: 1400px;
    /* background-color: powderblue; */
    color: #222222;
    font-weight: bold;
    font-size: 16px;
}
.menu li{
    display: flex;
    justify-content: space-around;
}
.menu li:first-child{
    margin-left: 122px;
    display: flex;
    justify-content: space-around;
}
.sub-menubar-out{
    width: 100%;
    height: 50px;
    background-color: #0a71cc;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
    
}

/*===================== 메인메뉴 적용리스트 ==============================*/

.sub-menubar-out-line{
    margin: 0 auto;
    width: 1550px;
    /* background-color: #ccc; */
    position: relative;

    
}

.meun-line-sub{
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: absolute;
    top:-10px;
    left:0;
}
.meun-line-sub li {margin: 0 10px;}


/*================================index==============================*/
#index{
    width: 100%;
    height: 2468px;
    /* background-color: rgb(196, 31, 31); */
}

/* ==============================footer============================= */
#partner{
    width: 100%;
    height: 163px;
    /* background-color: aqua; */
    border-bottom: 1px solid #dbdbdb;
}
#outline{
    width: 100%;
    /* background-color: aqua; */
    border-bottom: 1px solid #dbdbdb;
}
footer{
    width: 100%;
    height: 402px;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
}

.info-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: blueviolet; */
}

.footer-info {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.info{
    display: flex;
    justify-content: flex-start;
    /* background-color: turquoise; */
    width: 1400px;
    height: 69.5px;
    

}
.info li{
    margin: 0 0 0 60px;
    padding: 24px;
    font-weight: 500;
}
.info li:first-child{
    margin: 0px;
}

.company-info1{
    width: 1400px;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    color: #252525;
}

.company-info1-detail {
    display: flex;

}
.company-info1 li{
    margin: 5px 18px 10px 0px;
}

.company-info2{
    width: 1400px;
    display: flex;
    padding-bottom: 20px;
    /* color: #666666; */
}
.company-info2 li{

    margin: 5px 18px 0px 0px;
}
.pride{
    width: 1400px;
    height: 53px;
    display: flex;
    padding-top: 15px;
    
    /* background-color: teal; */
    
}
.pride li{
    display: flex;
    margin-left: 25px;
}
.infomation{
    width: 1400px;
    height: 18px;
    padding-top: 50px;
    color: #999999;
    /* background-color: tomato; */
}
