.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

.title-div {
    margin-bottom: 35px;

    width: 980px;
    height: 30px;
}

.title-div h1 {
    font-size: 28px;
}

.view-style {
    border-top: 1px solid #d3d3d3;;
    border-bottom: 1px solid #d3d3d3;
}

table {
    width: 980px;
}

tr:first-child {
    border-bottom: 1px solid #f4f4f4;;
}

th {
    padding: 14px 0px 14px 30px;
    width: 107px;

    text-align: start;
    font-size: 12px;
}

td {
    padding: 14px 30px;
    width: 383px;

    font-size: 12px;
}

.solution-tr th {
    padding-bottom: 35px;
}

.solution-type {
    border: 1px solid #e7e7e7;
    margin-bottom: 5px;

    width: 285px;
    height: 31px;

    color: #7e7e7e;
    background-color: #fcfcfc;
}

.solution-type:focus {
    border: 1px solid #0A71CC;
}

.search-keyword {
    border: 1px solid #e7e7e7;
    margin-bottom: 5px;
    padding: 5px;

    width: 244px;
    height: 31px;

    background-color: #fcfcfc;
}

.search-keyword-td button {
    border: 1px solid #ccc;
    margin-bottom: 5px;

    width: 73px;
    height: 31px;

    color: #7e7e7e;
    background-color: #fff;
}

.explaination-p {
    font-size: 12px;
    color: #7d7d7d;
}

.type-unit {
    margin: 80px 0px 50px;
}

.type-unit ul {
    display: flex;
    align-items: center;
}

.type-unit li {
    border: 1px solid #f4f4f4;
    padding: 20px 0px;

    width: 244px;
    height: 58px;

    text-align: center;

    cursor: pointer;
}

.type-unit .selected-solution-type {
    border: 1px solid #0A71CC;

    color: #0A71CC;
}

.send-message-modal-div {
    display: flex;
    justify-content: center;
    width: 980px;
}

.solution-result {
    width: 980px;
}

.search-result-header {
    display: flex;
    align-items: center;
    
    margin-bottom: 15px;

    position: relative;
}

.search-count-span {
    color: #0A71CC;
}

.search-result-header p {
    margin-left: 5px;
}

.latest-sort-button {
    border: 1px solid #ccc;

    width: 77px;
    height: 30px;

    color: #7e7e7e;
    background-color: #fff;

    position: absolute;
    right: 0px;
}

.search-result {
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}

.list-unit {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.search-result li:not(.search-result li:first-child) {
    border-top: 1px solid #d9d9d9;
}

.title {
    margin-bottom: 18px;

    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

.solution-content dl {
    display: flex;
}

.solution-content dt {
    width: 80px;
    height: 18px;

    font-size: 12px;
    color: #7d7d7d;
}

.solution-content dd {
    width: 800px;
    height: 18px;

    font-size: 12px;
    color: #7d7d7d;
}

.faq-type {
    margin-top: 10px;
}

.detail-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-message {
    margin-bottom: 5px;
    border: none;
    padding: 1px 5px;

    width: 60px;
    height: 24px;

    font-size: 12px;
    color: #fff;
    background: #6f6f6f;
}

.post-date {
    font-size: 12px;
    color: #7d7d7d;
}

.data-none {
    padding-top: 80px;
    padding-bottom: 80px;

    width: 100%;
}

.data-none p {
    font-size: 16px;
    text-align: center;
}

.visible {
    display: none;
}