<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[위니아에이드] 칭찬합니다</title>
    <link rel="stylesheet" href="../static/css/chingchanwrite.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="chingchan-write-body">
        <h2>칭찬합니다</h2>
        <!-- 체크 특수문자 -->
        <p class="pilsu"><i class="fa-solid fa-check"></i>필수입력사항</p>
        <!-- 테이블 -->
        <table class="chingchan-write-table">
                <tr>
                    <th>성명</th>
                    <td>강주현</td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>rkdwngus666@naver.com</td>
                </tr>
                <tr>
                    <th>휴대폰번호</th>
                    <td>010-2670-9459</td>
                </tr>
                <tr>
                    <th class="brand-th"><i class="fa-solid fa-check"></i>접수대상 브랜드</th>
                    <td class="brand-td">
                        <input name="company" type="radio" id="company1"><label for="company1">위니아 제품</label>
                        <input name="company" type="radio" id="company2"><label for="company2">위니아전자(구 대우전자) 제품</label>
                    </td>
                </tr>
                <tr>
                    <th class="title-th"><i class="fa-solid fa-check"></i>제목</th>
                    <td class="title-td">
                        <input class="title-input" type="text" placeholder="제목을 입력해주세요.">
                    </td>
                </tr>
                <tr>
                    <th class="content-th"><i class="fa-solid fa-check"></i>내용</th>
                    <td class="content-td">
                        <textarea placeholder="내용을 입력해주세요."></textarea>
                        <p id="content-p">※최대 5,000Bytes(한글 2,500자, 영문 5,000자)까지 가능</p>
                    </td>
                    
                </tr>
                <tr>
                    <th class="file-th">첨부파일</th>
                    <td class="file-td">
                        <div class="fileupload">
                            <input class="fileupload1" type="file" >
                            <input class="fileupload2" type="file" >
                            <input class="fileupload3" type="file" >
                        </div>
                        <p id="file-p">※첨부가능 확장가는 아래와 같으며, 총 50MB 까지 가능합니다.(첨부 3개 제한)<br> -그림 파일 (jpg, jpeg, gif, png)<br> - 문서 파일 (txt, doc, docx, xls, xlsx, ppt, pptx, pdf, hwp)<br> - 압축 파일 (zip)<br>- 동영상 파일(avi, mp4)</p>
                    </td>
                </tr>
        </table>
        <!-- 하단부 -->
        <div>
            <ul>
                <li>장시간 미사용 시 자동 로그아웃이 되어 작성중이던 글이 등록 안될 수 있습니다.</li>
                <li>업무시간 외에는 (주말, 공휴일)답변이 지연될 수 있습니다.</li>
                <li>게시판 성격에 맞지 않는 게시물은 사전 통보 없이 삭제되거나 해당 게시판으로 이동될 수 있습니다.</li>
            </ul>
        </div>
        <!-- 버튼 -->
        <ul id="btn-group">
            <button class="upload-button" type="button" onclick="location.href='등록버튼' ">등록</button>
            <button class="cancle-button" type="button" onclick="location.href='취소버튼' ">취소</button>
        </ul>  
    </div>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
</body>
</html>