<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/util/location_notice.css">
    <link rel="stylesheet" href="/static/css/solution/solution_detail.css">
    <title>[위니아에이드] 자주하는질문</title>
</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>
    <main>
        <div id="container">
            <div class="main-content">
                <div class="location-div">
    
                </div>
                <div class="title-div">
                    <h1>자주하는 질문</h1>
                </div>
                <div class="content-detail">
                    <table>
                        <thead>
                            <tr>
                                <th>제목</th>
                                <td class="content-title" colspan="4">김치냉장고에서 웅하는 소음이 자주 들리며, 큽니다. 기본 점검 사항이 있나요?</td>
                                <td><button class="send-message" type="button">문자발송</button></td>
                            </tr>
                            <tr>
                                <th>제품</th>
                                <td></td>
                                <th>유형</th>
                                <td>소음</td>
                                <th>등록일</th>
                                <td>2020.11.25</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <div class="content">
● '김치냉장고에서 웅~ 소음이 자주 발생되는 김치냉장고라면 확인은 해보셨나요?
<br>
* 초기설치 후 처음 가동한 경우, 또는 이사를 했거나 위치 변경 후 재가동한 경우 이와 같은 경우에 딤채가 벽면에서 10cm이상 떨어져 있는지, 네 면의 수평이 맞는지 확인
<br>
* 최근에 내용물을 많이 보관한 경우 내부 온도를 빠르게 낮추기 위해 자주 가동 됩니다.
<br>
* 여름철이라 도어를 자주 여닫으면서 사용한 경우에도 내부온도 유지를 위해 압축기가 자주 가동됩니다.
<br>
<br>

● 이렇게 한번 해보세요.
<br>
수평이 맞지 않을 경우 균형이 맞도록 수평 조절나사로 조절하시기 바랍니다.
<br>
* 수평 조절나사는 제품 정면 맨 아래 부위에 좌, 우측으로 한 개씩 있습니다.
<br>
* 수평 조절나사를 시계방향으로 돌리면 올라가고, 반시계방향으로 돌리면 내려갑니다.
<br>
* 제품이 무거우니 수평 조정시 조심하셔야 합니다.
<br>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="go-list-button-div">
                        <button class="go-list-button" type="button">목록</button>
                    </div>
                    <div>
                        <p>※ 고객님이 원하시는 정보를 찾으셨나요? 찾지 못하셨다면 아래 서비스를 이용해 보세요!</p>
                        <div class="etc-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/solution/solution_detail.js"></script>
</body>
</html>