#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 980px;
}

.title {
    border-bottom: 1px solid #d4d4d4;
    margin: 60px 0px 40px;
    padding-bottom: 20px;

    width: 980px;

    text-align: center;
}

.title h1 {
    font-size: 30px;
    font-weight: 300;

}

.password-radio {
    margin-left: 15px;
}

.password-reset-select {
    margin-top: 20px;
}

table {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 980px;
}

table th {
    padding: 10px 20px 8px;

    width: 200px;
    height: 50px;

    text-align: left;

    background-color: #f5f5f5;
}

table td {
    padding: 10px 20px;
}

table input {
    border: 1px solid #bbb;
    padding: 0px 5px;

    width: 138px;
    height: 30px;
}

.main-content-notice {
    border-top: 1px solid #d4d4d4;
    margin-top: 40px;
    padding-top: 20px;

    width: 980px;
}

.main-content-notice li::before {
    margin-right: 10px;
    content: "•"
}

.button-div {
    margin-top: 30px;
}

.button-div button {
    border: none;

    width: 122px;
    height: 42px;
    
    font-size: 16px;
    
    color: #fff;
    cursor: pointer;
}

.button-div button:first-child {
    margin-right: 10px;
    background-color: #0a71cc;
}

.button-div button:last-child {
    background-color: #5b5a5a;
}