#main {
    width: 100%;
    padding-bottom :60px;
}

#main .main-inner {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    height: 100%;
}

.main-content h2 {
    width: 100%;
    height: 25px;
    margin: 60px 0 40px 0;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
}

.main-content .img-wrap {
    width: 100%;
    height: 126px;
    text-align: center;
}

.main-content .title {
    width: 100%;
    height: 22px;
    text-align: center;
    font-size: 18px;
    margin: 55px 0 35px 0;
}

.main-content .guide {
    width: 100%;
    height: 68px;
    border-top: 1px solid #dbdbbd;
    padding: 30px 0 15px 0;
    font-size: 14px;
}

.main-content .guide span {
    float: right;
}

.main-content .guide span strong {
    color: #eb2a2a;
    font-weight: bold;  
}

.main-content .table-write{
    width: 100%;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.main-content .table-write table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.main-content .table-write th{
    width: 200px;
    height: 50px;
    padding: 15px 20px 0 20px;
    text-align: left;
    background-color: #f5f5f5;
    vertical-align: top;
}

.main-content .table-write table tr:first-child{
    border-top: 0;
}

.main-content .table-write table tr:last-child{
    border-bottom: 0;   
}

.main-content .table-write table tr{
    border-top: 1px solid #dbdbbd;
}

.main-content .table-write th .essential{
    display: block;
    position: relative;
    font-weight: bold;
}

.main-content .table-write th .essential::after{
    content: '*';
    position: absolute;
    right: 0;
    top: 5px;
    color: #eb2a2a;
    line-height: 14px;
    font-weight: bold;
}

.main-content .table-write table td{
    width: 780px;
    height: 50px;
    padding: 10px 20px;
    text-align: left;
    color: #222;
    vertical-align: middle;
}

.main-content table .birth label{
    margin: 0 15px  0 5px;
}

.main-content table .birth input{
    padding: 0 5px;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid rgb(187, 187, 187);
}

.name {
    padding: 5px;
}

.user-id-div {
    display: flex;
    align-items: center;
}

input[type=text], input[type=password] {
    height: 28px;
    padding: 0 5px;
    border: 1px solid #bbb;
    line-height: 30px;
}

input{
    border: 1px solid #bbb;
}

.button {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    background: #444;
    font-weight: bold;
    color: #fff;
}

.button .light {
    height: 30px;
    background: #777;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
}

.main-content .table-write td .password-guide, .email-guide , .group-guide{ 
    margin-left: 5px;
    font-size: 13px;
    vertical-align: middle;
}

.main-content .table-write td .error{
    color: #eb2a2a;
}

.main-content .table-write td .address p{
    margin-top: 10px;
}

.user-id-check {
    margin-left: 10px;
    height: 28px;
}

.address {
    margin-bottom: 10px;
}

.search-address {
    margin-top: 10px;
    margin-left: 10px;

    height: 28px;
}

select{
    padding: 0 5px;
    border: 1px solid #bbb;
    line-height: 30px;
    color: #444;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.selectBox-dropdown {
    position: relative;
    border: solid 1px #dbdbdb;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    outline: none;
    vertical-align: middle;
    background: #fafafa;
    display: inline-block;
    cursor: default;
}

.selectBox-dropdown .selectBox-label {
    padding: 5px 0 0px 8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 21px;
    margin: 0;
    background: #fafafa;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 100%;
    background: url(https://member.winiadimchae.com/img/btn/btn_sel.gif) 0 0 no-repeat;
    cursor: pointer;
}

.email-select-box {
    height: 28px;
}

strong{
    font-weight: bold;
}

.main-content .table-write table td ul{
    display: block;
    margin-bottom: 20px;
}

.main-content .table-write table td li{
    display: flex;
    margin-bottom: 10px;
}

.main-content .table-write table td li strong{
    display: block;
    width: 90px;
}

input[type=checkbox] + label {
    margin: 0 15px 0 5px;
}

input[type=radio] + label {
    margin: 0 15px 0 5px;
}

.main-content .button-center{
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
}

.main-content .button-center .blue{
    background-color: #3652a2;
}

.selected-email {
    background-color: #e7e7e7;
}