#wrap{
    width: 100%;
}

#header{
    width: 100%;
    height: 110px;
}
#header .inner{
    width: 980px;
    height: 62px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner h1{
    width: 83px;
    height: 54px;
    padding: 18px 0;
}
#header .inner .logout{
    width: 52px;
    height: 52px;
    padding-top:30px;
}
#gnb{
    width: 100%;
    height: 48px;
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
}
#gnb .mn-ul{
    width: 980px;
    height: 46px;
    margin: 0 auto;
    position: relative;
}

#gnb .main-mn{
    width: 326px;
    height: 46px;
    text-align: center;
    float: left;
    padding: 16px 0;
}

#gnb .main-mn:nth-child(1){
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#gnb .main-mn:nth-child(2){
    border-right: 1px solid #dbdbdb;
}
#gnb .main-mn:nth-child(3){
    border-right: 1px solid #dbdbdb;
}

#gnb .sub-ul{
    display: none;
    margin-top: 10px;
    width: 326px;
    height: 115px;
    padding: 15px 30px;
    text-align: left;
    z-index: 1;
}
#gnb .main-mn:nth-child(1) ul{
    margin-left: -1px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#gnb .main-mn:nth-child(2) ul{
    border-right: 1px solid #dbdbdb;
    
}
#gnb .main-mn:nth-child(3) ul{
    border-right: 1px solid #dbdbdb;
   
}


#gnb .sub-mn{
    width: 266px;
    height: 26px;
    line-height: 25px;
}
#gnb .sub-mn a{
    font-size: 14px;
    font-weight: 500;
}

#gnb .sub-wrap{
    display: none;
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    height: 116px;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

#main{
    width: 100%;
    height: 1298px;
    padding-bottom :60px;
}
#main .main-inner{
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
#form-main{
    width: 100%;
    height: 100%;
}

#form-main h2{
    width: 100%;
    height: 25px;
    margin: 60px 0 40px 0;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
}
#form-main p{
    width: 100%;
    height: 126px;
    text-align: center;
}

#main .section{
    width: 100%;
    height: 136px;

}
#form-main .section-header{
    text-align: left;
    display: block;
    width: 100%;
    height: 22px;
    margin: 35px 0 10px 0;
    font-size: 16px;
    font-weight: normal;
}
#main .section .box{
    width: 100%;
    height: 104px;
    padding: 40px 0 40px 90px;
    border: 1px solid #dbdbdb;
    text-align: center;
}
label[for="family1"]{
    margin: 0 90px 0 5px;
}
label[for="site04"]{
    margin: 0 90px 0 5px;
}
label[for="site05"]{
    margin: 0 90px 0 5px;
}
label[for="site06"]{
    margin: 0 90px 0 5px;
}

#form-main .section2{
    width: 100%;
    height: 211px;
}
#form-main .rule{
    width: 100%;
    height: 152px;
    border: 1px solid #dbdbdb;
}
#form-main .rule .rule-textbox{
    overflow: auto;
    width: 100%;
    height: 152px;
    padding: 10px;
}

#form-main .rule .rule-textbox strong{
    font-size: 13px;
}
#form-main .rule .rule-textbox h4{
    font-size: 12px;
    color: rgb(119, 119, 119);
}
#form-main .rule .check-right{
    width: 100%;
    height: 22px;
    margin: 5px 0 15px 0;
    text-align: right;
}

#form-main .all-check-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 28px;
    margin-top: 30px;
    padding-top: 5px;
    border-top: 1px solid #dbdbdb;
}
#agree04{
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
label[for="agree04"]{
    font-size: 12px;
}

#form-main .button-center{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

#form-main .button-center .button-notagree{
    display: inline-block;
    width: 122px;
    height: 40px;
    padding: 0 20px;
    background-color: #444;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}
#form-main .button-center .button-agree{
    display: inline-block;
    padding: 0 20px;
    width: 66px;
    height: 40px;
    background-color: #3652a2;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}   

/* ===== Footer ====== */

#footer{
    width: 100%;
    height: 138px;
    padding-top: 30px;
    border-top: 1px solid #dbdbdb;

}

#footer .inner{
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 77px;
    margin: 0 auto;
    color: #444;
    line-height: 22px;
}

#footer .footer-logo{
    float: left;
    margin: 4px 30px 0 0;
}

#footer .footer-menu{
    float: left;
}

#footer .link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#footer .footer-menu ul li a{
    font-size: 12px;
    color: #444;
}
#footer .copyright p{
    font-size: 12px;
    color: #444;
}