img{
	vertical-align: top
}

#header{
    width: 100%;
    height: 110px;
}
#header .inner{
    width: 980px;
    height: 62px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo, .logout-span {
    cursor: pointer;
}

#header .inner h1{
    width: 83px;
    height: 54px;
    padding: 18px 0;
}
#header .inner a{
    display: inline-block;
    color: #222;
}
#header .util{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: space-around;
    width: 113px;
    height: 52px;
}

#header .util ul {
    display: flex;
    align-items: center;
}

#header .util>ul>li {
    display: flex;
    align-items: center;
	padding-bottom: 10px;
    float: left;
    position: relative;
}

#header .util ul li span, .signup-li, .util-layer li {
    cursor: pointer;
}

#header .util ul li:hover{
    text-decoration: underline;
}

#header .util .signup-li:before{
	display: inline-block;
	content:'';
	width: 1px;
	height: 12px;
	background: #222;
	margin: 0px 10px;
}

#header .util .util-layer:before{
	content: '';
    position: absolute;
    left: 25px;
    top: -6px;
    width: 11px;
    height: 6px;
    background: url(https://member.winiadimchae.com/images/bg_gnb_over.png) no-repeat 0 0;
}

#header .util .util-layer{
    display: flex;
    flex-direction: column;
	align-items: baseline;
    position: absolute;
    left: -9px;
    top: 30px;
    width: 130px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}
#header .util .util-layer li:hover{
    font-weight: 500;
    color: royalblue;
}
#header .util .util-layer li{
    line-height: 25px;
    list-style: none;
}
#header .util .util-layer li:before{
	content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 12px 5px 0 0;
    background: #585858;
    vertical-align: top;
}
#gnb{
    width: 100%;
    height: 47px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #d3d3d3;
    z-index: 20;
}
#gnb .mn-ul{
    width: 980px;
    height: 46px;
    margin: 0 auto;
}

#gnb .main-mn{
    width: 325px;
    height: 46px;
    text-align: center;
    float: left;
    padding: 16px 0;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}

#gnb .main-mn:hover{
	background: #f0f0f0;
	border-bottom:1px solid #d3d3d3;
}

#gnb .sub-ul {
    position: relative;
    margin-top: 10px;
    width: 325px;
    height: 114px;
    padding: 15px 30px;
    text-align: left;
    z-index: 6;
    background-color: white;
    border-right: 1px solid #e5e5e5;
    display: none;
}

#gnb .mn-ul .main-mn:first-child{
    width: 326px;
    border-left: 1px solid #e5e5e5;
}

#gnb .mn-ul .main-mn:first-child >ul{
    margin-left: -1px;
    width: 326px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;

}

#gnb .sub-mn{
    width: 266px;
    height: 26px;
    line-height: 25px;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #585858;
}
#gnb .sub-mn:hover{
    text-decoration-line: underline;
    color: royalblue;
}

#gnb .sub-mn:hover:before{
	background: royalblue;
}

#gnb .sub-mn:before{
	content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 12px 5px 0 0;
    background: #585858;
    vertical-align: top;
}

#gnb .sub-wrap{
    position: absolute;
    left: 0;
    top: 108px;
    width: 100%;
    height: 116px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
   display: none;
}

#gnb .on{
    display: block;
}

.visible {
    display: none !important;
}