#main{
    min-height: 500px;
    padding-bottom: 60px;
    width: 100%;
    height: 560px;
}

#main .main-inner{
    width: 980px;
    margin: 0 auto;
}

#main .main-inner h2{
    margin: 60px 0 40px;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    line-height: 25px;
}

#main .main-inner h2 span{
    display: block;
    margin-top: 20px;
    font-size: 25px;
}

.comapny {
    font-size: 25px;
}

.login_section{
    position: relative;
    width: 765px;
    margin: 0 auto;
    padding: 40px 0 40px 184px;
    border: 1px solid #d4d4d4;
}

.login_section li{
    margin-bottom: 10px;
    display: list-item;
}

.login_section input[type=text], .login_section input[type=password]{
    width: 253px;
    height: 43px;
    line-height: 43px;
    padding: 0 5px;
    border: 1px solid #bbb;
}

.login_section .button{
    border: none;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    color: #fff;
}

.login_section > button{
    position: absolute;
    right: 179px;
    top: 40px;
    width: 125px;
    height: 100px;
    padding: 0;
}

.blue{
    background-color: #3652a2;
}

.save-id-box {
    display: flex;
    align-items: center;
}

.save-id-box input {
    margin-right: 10px;
}

.attention{
    margin: 25px 0 0 108px;
}
.attention li{
    font-size: 13px;
}
.attention li::before{
    content:"";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 15px 7px 0 0;
    background-color: #444;
    vertical-align: top;
}
.attention .line{
    display: inline-block;
    height: 28px;
    background-color: #f5f5f5;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    font-weight: normal;
    color: #444;
    line-height: 28px;
}
.attention .button{
    position: relative;
    top: -3px;
    margin-left: 5px;
    padding: 0 10px;
}


