#main{
    width: 100%;
    min-height: 500px;
    height: 700px;
    padding-bottom: 60px;
}
.main-inner{
    width: 980px;
    margin: 0 auto;
}

.main-inner h2{
    margin: 60px 0 40px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.main-inner .section{
    width: 100%;
    height: 141px;
    font-size: 13px;
}

.main-inner .section p{
    margin-bottom: 15px;
    font-size: 14px;
}
.main-inner .section .box{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
}

input[type=checkbox] + label{
    margin: 0 15px 0 5px;
}

.main-inner .withdrwal-list{
    margin-top: 20px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    width: 100%;
}

.main-inner .withdrwal-list .withdrwal-header{
    width: 100%;
    height: 52px;
    padding: 15px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d4d4d4;
}

.main-inner .withdrwal-list .withdrwal-textbox{
    width: 100%;
    padding: 10px 20px;
}

.main-inner .withdrwal-list .withdrwal-textbox li{
    margin-bottom: 5px;
}


.main-inner .withdrwal-list .withdrwal-textbox li label{
    display: inline-block;
    margin-left: 5px;
    width: 160px;
}

.button-center {
    margin-top: 40px;
    text-align: center;
}

.button{
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
}
.blue{
    background-color: #3652a2;
}