<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <header>
        <div class="title-div">
            <h1>관리자 페이지</h1>
        </div>
        <nav>
            <ul class="main-nav-ul">
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">간편해결</span>
                    <ul class="sub-nav-ul  solution-manage-list visible">
                        <li>간편해결 서비스 등록</li>
                        <li>문제해결 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">서비스 신청</span>
                    <ul class="sub-nav-ul request-manage-list visible">
                        <li>서비스 신청 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">제품관리</span>
                    <ul class="sub-nav-ul product-manage-list visible">
                        <li>제품등록</li>
                        <li>제품수정</li>
                        <li>고장증상</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">고객의 소리</span>
                    <ul class="sub-nav-ul board-manage-list visible">
                        <li>게시글 관리</li>
                    </ul>
                </li>
                <li class="sub-menu-title">
                    <span class="sub-menu-title-span">회원</span>
                    <ul class="sub-nav-ul account-manage-list visible">
                        <li>회원 관리</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="menu-place visible">

        </div>
    </header>
</html>