<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/popup/model_name_popup.css">
    <title>[위니아에이드] 모델명 확인방법</title>
</head>
<body>
    <header>
        <div class="title-div">
            <h1>제품 모델명 확인방법</h1>
            <div>
                <i class="fa-solid fa-x cancel-image"></i>
            </div>
        </div>
    </header>
    <main>
        <div id="container">
            <div class="main-content">
                <ul class="product-category-ul">
                    
                </ul>
                <div class="model-number-check-explaination-div">
                    <div class="product-category-name">

                    </div>
                    <span class="notice-span">사용하시는 제품의 모델명과 제조번호를 확인해주세요.</span>
                    <div class="product-category-info">
                        
                    </div>
                    <div class="product-category-image">
                        
                    </div>
                    <div class="product-number-location-info">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/popup/popup.js"></script>
    <script src="/static/js/popup/model_name_popup.js"></script>
</body>
</html>