<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/popup/popup_header.css">
    <link rel="stylesheet" href="/static/css/popup/popup_footer.css">
    <link rel="stylesheet" href="/static/css/util/paging.css">
    <link rel="stylesheet" href="/static/css/popup/past_request_popup.css">
    <title>[위니아에이드] 이전접수목록 확인</title>
</head>
<body>
    <header>
        <div class="title-div">
            <h1>이전접수 목록 확인</h1>
            <div>
                <i class="fa-solid fa-x cancel-image"></i>
            </div>
        </div>
    </header>
    <main>
        <div id="container">
            <div class="main-container">
                <div class="notice-div">
                    <p class="notice-p">예약 신청 시 접수한 제품을 확인하실 수 있습니다.</p>
                    <p class="notice-p">이전접수한 제품을 선택하시면 재접수 가능합니다.</p>
                </div>
                <p class="notice-list-amount-p">전체 <span class="amount-span"></span>건</p>
                <div>
                    <div class="request-info-div">
                        
                    </div>
                    <div class="explaination-div">
                        <p class="important-p">이전접수한 제품/모델 선택 후 재접수 할시 접수번호는 신규 생성됩니다.</p>
                    </div>
                    <div class="page-button-div">
                        
                    </div>
                    <div class="service-request-button-div">
                        <button class="request-button" type="button">재접수</button>
                        <button class="cancel-button" type="button">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/popup/popup.js"></script>
    <script src="/static/js/util/principal.js"></script>
    <script src="/static/js/util/paging.js"></script>
    <script src="/static/js/popup/past_request_popup.js"></script>
</body>
</html>