
h2{
    font-size: 28px;
    line-height: 1.1em;
    font-weight: 400;
    margin-bottom: 35px;
    color: #252525;
    /* background-color: yellow; */
}
/* =================================헤더===================== */
#chingchan-body{
    width: 100%;
    margin-bottom: 100px;
    /* background-color: #ddd; */
}    

.chingchan-body-inner{
    width: 980px;
    /* background-color: aqua; */
    margin: 0 auto;
}    



/* =====================================전체 틀================ */

table{
    width: 980px;
    /* background-color: blue; */
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}
table th{
    font-size: 14px;
    font-weight: 400;
    color: #252525;
}
table td{
    font-size: 14px;
    font-weight: 400;
    color: #5b5a5a;
}
.first-table{
    border-bottom: 0.5px solid #dbdbdb;
}
.user{
    width: 126px;
    height: 49px;
    padding: 15px 0px 15px 30px;
    /* background-color: darkred; */
    text-align: start;
}
.username{
    width: 145px;
    height: 49px;
    padding: 15px 0px;
    /* background-color: rgb(63, 0, 139); */
}
.brand{
    width: 174px;
    height: 49px;
    padding: 15px 0px 15px 30px;
    /* background-color: tomato; */
    text-align: start;
}
.company{
    width: 194px;
    height: 49px;
    padding: 15px 0px;
    /* background-color: rgb(0, 139, 21); */
}
.date{
    width: 145px;
    height: 49px;
    padding: 15px 0px 15px 30px;
    /* background-color: rgb(234, 230, 43); */
    text-align: start;
}
.updatedate{
    height: 49px;
    padding: 15px 0px;
    /* background-color: rgb(132, 237, 148); */
}
.title{
    width: 126px;
    height: 49px;
    padding: 15px 0px 15px 30px;
    /* background-color: rgb(245, 141, 141); */
    text-align: start;
}
.contenttitle{
    width: 854px;
    padding: 15px 0px 15px 30px;
    /* background-color: rgb(110, 93, 93); */
}


.list-button{
    margin-right: 2px;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 122px;
    height: 42px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5b5a5a;
    font-weight: 400;
    margin-top: 50px;
}
.update-button{
    margin-right: 2px;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 122px;
    height: 42px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0A71CC;
    font-weight: 400;
    margin-top: 50px;
}
.delete-button{
    margin-right: 2px;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 122px;
    height: 42px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5b5a5a;
    font-weight: 400;
    margin-top: 50px;
}
.boardpost{
    padding: 30px 30px 60px;
    border-bottom: 1.5px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
}

.content{
    
}