header {
    width: 100%;
    height: 160px;
}

.top-div {
    border-bottom: 1px solid #dbdbdb;

    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0 auto;

    width: 1600px;
    height: 68px;
    font-size: 16PX;
}

.top-bar li {
    display: flex;

    margin-left: 12px;
    padding: 19px;

    float: right;
}

.bottom-div {
    border-bottom: 1px solid #dbdbdb;

    width: 100%;
}

.bottom-bar {
    display: flex;
    margin: 0 auto;

    width: 1600px;
    height: 92px;
}

.bottom-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    cursor: pointer;
}

.menu {
    width: 1400px;

    font-weight: bold;
    font-size: 16px;

    color: #222222;
}

.menu-line {
    display: flex;

    width: 1600px;
    height: 51px;

    cursor: pointer;
}

.menu li {
    display: flex;
    justify-content: space-around;
}

.menu li:first-child {
    display: flex;
    justify-content: space-around;

    margin-left: 122px;
}

.sub-menubar-out {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    background-color: #0a71cc;

    animation: fadein 0.5s;
}

.sub-menubar-out-line{
    margin: 0 auto;

    width: 1550px;

    position: relative;
}

.meun-line-sub{
    display: flex;
    align-items: center;
    
    position: absolute;
    top: -10px;
    left: 0;
    
    color: #fff;
}

.meun-line-sub li {
    margin: 0 10px;
    cursor: pointer;
}

@keyframes fadein {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
    
}

.menu-visible {
    display: none;
}

.menu-line-visible {
    height: 0px;
    
    animation: fadeout 0.5s;
}

@keyframes fadeout {
    from {
        height: 50px;
    }
    to {
        height: 0px;
    }
    
}